<section id="mailserver">
  {{#if message}}
   <div id="mailserver-notification" class="notification">
     <div class="alert">
       <button type="button" class="close" {{action "removeNotification"}}>&times;</button>
        {{message}}
     </div>
   </div>
  {{/if}}
  <h3>Configure Mail Server</h3>
  <form class="form-horizontal well-clean shadow-lifted" autocomplete="off">
    <div class="control-group">
      <label class="control-label">Hostname</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="hostname" id="mailserver-hostname" placeholder="Hostname or IP Address" autofocusBinding="standalone"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Port</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="port" id="mailserver-port" placeholder="Port"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="username" id="mailserver-username" placeholder="Username"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="password" id="mailserver-password" placeholder="Password" type="password"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Email
        {{#view App.TooltipView title="This email address will be the 'from' address as sent to recipents from the mail server"}}
          <a> <i class="icon-question-sign"></i> </a>
        {{/view}}
      </label>

      <div class="controls">
        {{view Ember.TextField valueBinding="sender_email" placeholder="Email Address"}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{#unless isTestEmailActionPending}}
          <button class="btn btn-primary" type="button" {{action "testEmail"}}>Send Test Email</button>
          {{#view App.TooltipView title="This will send a test email to the 'From' address above"}}
            <a> <i class="icon-question-sign"></i> </a>
          {{/view}}
        {{else}}
          <a class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Sending Test Email...</a>
        {{/unless}}
      </div>
    </div>
    {{#if standalone}}
      <div class="form-actions">
        {{#unless isActionPending}}
          <a class="btn" {{action "cancel"}}>Cancel</a>
          <button type="submit" class="btn btn-primary" {{action "save"}}>Save</button>
        {{else}}
          <a class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Saving...</a>
        {{/unless}}
      </div>
    {{/if}}
  </form>
</section>
