<div class="progress stacked" {{bind-attr style=progressStyle}}>
  <span style="position:absolute; bottom:55%; left:0px;">
    <span style="font-size:0.7em">0</span>
  </span>
  <div class="bar bar-success" {{bind-attr style=barRange1Style}}></div>
  <div class="bar bar-warning" {{bind-attr style=barRange2Style}}></div>
  <div class="bar bar-danger" {{bind-attr style=barRange3Style}}></div>
  <span style="position:absolute; bottom:55%; right:0px;">
    <span style="font-size:0.7em">{{thresholdMax}}</span>
  </span>
  <span {{bind-attr style=currentValueStyle}}>
    <span style="font-size:0.7em"> {{value}} </span>
  </span>
</div>
