<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Edit SLA</h3>
</div>
<form id="slasForm" {{action "editSla" on="submit"}}>
  <div class="modal-body">
    <p>Edit <abbr title="Service-Level Agreement">SLA</abbr> "{{model.name}}".</p>
    <div class="form-horizontal well-clean shadow-lifted">
      <p>
        <label class="inline">SLA name:</label>
        {{view Ember.TextField class="input-medium" valueBinding="model.name" autofocus="autofocus"}}
        <a class="btn pull-right" {{action "addSlo"}}><i class="icon-plus-sign"></i> Add SLO</a>
      </p>
      {{#each slo in model.slos}}
        <p class="slo-row separator-top">
          {{view Ember.Select viewName="select" class="input-medium"
            contentBinding="sloTemplates"
            optionValuePath="content.id"
            optionLabelPath="content.readableSloType"
            selectionBinding="slo.sloTemplate"
          }}
          {{view Ember.Select viewName="select" class="input-small"
            contentBinding="slo.sloTemplate.allowedOperators"
            valueBinding="slo.operator"
          }}
          {{view Ember.TextField class="input-small" valueBinding="slo.value"}}
          {{slo.sloTemplate.unit}}
          <a class="btn pull-right" {{action "deleteSlo" slo}}><i class="icon-remove-sign"></i></a>
          <small class="block">{{slo.sloTemplate.description}}</small>
        </p>
      {{/each}}
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    {{#if isSlaEditing}}
      <a class="btn btn-primary" disabled>Save</a>
    {{else}}
      <input class="btn btn-primary" type="submit" value="Save">
    {{/if}}
  </div>
</form>
