<footer>
  <h4>Debug Toolbar</h4>
  <a {{action bypassLogin}} class="btn"><i {{bindAttr class=":icon-signout"}}></i> Bypass Login</a>
  <a {{action refreshNodes}} class="btn"><i {{bindAttr class=":icon-refresh"}}></i> Refresh Nodes</a>
  <a {{action refreshVms}} class="btn"><i {{bindAttr class=":icon-refresh"}}></i> Refresh VMs</a>
</footer>
