<div class="portlet">
  <h3>About {{App.application.title}}</h3>
  <p>The {{App.application.fullTitle}} is copyrighted &copy; {{year date}}.</p>
</div>
<div class="portlet">
  <h3>Version</h3>
  <div>{{version}}</div>
  <small>{{timestamp date}}</small>
</div>
