<div class="portlet">
  <h3>About {{App.application.title}}</h3>
  <p>The {{App.application.fullTitle}} is copyrighted &copy; {{year date}}.</p>
</div>
<div class="portlet">
  <h3>Version</h3>
  {{#if isReadycloud}}
    <div>CO {{readycloudVersion}}</div>
    <div>SAA {{version}}</div>
  {{else}}
    <div>{{version}}</div>
  {{/if}}
  <small>{{timestamp date}}</small>
</div>
