<div class="portlet span4 node-metrics">
  <div class="header">Node Metrics</div>
  <div class="portlet-content">
    <table class="table table-bordered">
       <tbody>
          <tr>
            <td class="column-medium"><strong>Nodes</strong> (total #)</td>
            <td>{{#link-to "nodes"}}{{controllers.nodes.length}} Nodes {{/link-to}}</td>
          </tr>
          {{#if isPercentOfTrustedAvailable}}
            <tr>
              <td class="column-medium"><strong>Trusted Nodes</strong></td>
              <td>
                {{#view "tooltip" titleBinding="totalTrustedMessage"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfTrustedWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#link-to "nodes"}}
                        {{percentOfTrusted}}%
                      {{/link-to}}
                      <a><i class="icon-question-sign"></i></a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfControlledAvailable}}
            <tr>
              <td class="column-medium"><strong>SAA Nodes</strong></td>
              <td>
                {{#view "tooltip" titleBinding="totalControlledMessage"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfControlledWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
<<<<<<< HEAD
=======
                      {{#view "tooltip" titleBinding="totalControlledMessage"}}
>>>>>>> Use view name strings instead of global context
                        {{#link-to "nodes"}}
                          {{percentOfControlled}}%
                        {{/link-to}}
                        <a> <i class="icon-question-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfRamAvailable}}
            <tr>
              <td class="column-medium"><strong>Memory reserved for VMs</strong></td>
              <td>
                {{#view "tooltip" titleBinding="controllers.nodes.totalRamMessage"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="controllers.nodes.totalRamWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
<<<<<<< HEAD
                      {{#link-to "nodes"}}
                        {{controllers.nodes.percentOfRam}}%
                      {{/link-to}}
                      <a> <i class="icon-question-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfPhysicalMemoryAvailable}}
            <tr>
              <td class="column-medium"> <strong> Physical memory </strong> </td>
              <td>
                {{#view "tooltip" titleBinding="controllers.nodes.totalPhysicalMemoryMessage"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="controllers.nodes.totalPhysicalMemoryWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#link-to "nodes"}}
                        {{controllers.nodes.percentOfPhysicalMemory}}%
                      {{/link-to}}
                      <a> <i class="icon-question-sign"></i> </a>
=======
                      {{#view "tooltip" titleBinding="controllers.nodes.totalRamMessage"}}
                        {{#link-to "nodes"}}
                          {{controllers.nodes.percentOfRam}}%
                        {{/link-to}}
                      {{/view}}
>>>>>>> Use view name strings instead of global context
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isUsedOfAvailableSuPercentAvailable}}
            <tr>
              <td class="column-medium"><strong>Total SCU Usage</strong></td>
              <td>
<<<<<<< HEAD
                {{#view "tooltip" titleBinding="usedOfAvailableSuMessage"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="usedOfAvailableSuWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
=======
                <div class="progress progress-success portlet-progress">
                  <div class="bar" {{bind-attr style="usedOfAvailableSuWidth"}} ></div>
                </div>
                <div class="portlet-progress-value">
                  <small>
                    {{#view "tooltip" titleBinding="usedOfAvailableSuMessage"}}
>>>>>>> Use view name strings instead of global context
                      {{#link-to "nodes"}}
                        {{usedOfAvailableSuPercent}}%
                      {{/link-to}}
                      <a> <i class="icon-question-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
       </tbody>
    </table>
    {{#if contentionNodesExist}}
      <table class="table table-bordered contention-nodes">
        <tbody>
          <tr>
            <td><strong>Highest contention nodes</strong></td>
            <td><strong>Contention</strong></td>
          </tr>
          {{#each contentionNode in contentionNodes}}
            <tr>
              <td> {{#link-to "nodesNode" contentionNode}}{{contentionNode.name}}{{/link-to}}</td>
              <td>
                {{#if contentionNode.hasContention}}
                  <div class="contention nowrap">
                    {{#view "tooltip" titleBinding="contentionNode.contentionMessage"}}
                      <div class="contention-bar">
                        <div class="contention-bar-width" {{bind-attr style="contentionNode.contentionWidth"}}>
                          <div class="contention-gradient"></div>
                        </div>
                      </div>
                      {{na contentionNode.contentionFormatted}}
                      <a> <i class="icon-question-sign"></i> </a>
                    {{/view}}
                  </div>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
