<div id="dashboard" class="container-fluid">
  <div class="row-fluid">
    <br /><br />
   {{progress-bar-stacked value=1 thresholdOne=1 thresholdTwo=2 thresholdThree=3 overallWidth="20%"}}
  </div>
  <div class="row-fluid">
    {{render "dashboardStatus"}}
    {{render "dashboardStatusComponents"}}
    {{render "dashboardEvents"}}
  </div>
  <div class="row-fluid">
    {{render "dashboardNodeMetrics"}}
    {{render "dashboardVmMetrics"}}
    {{render "dashboardTodo"}}
  </div>
</div>


