<div class="portlet span4 vm-metrics">
  <div class="header">VM Metrics</div>
  <div class="portlet-content">
    <table class="table table-bordered">
       <tbody>
          <tr>
            <td class="column-medium"><strong>VMs</strong> (total #)</td>
            <td>{{#link-to "vms"}}{{controllers.vms.length}} VMs {{/link-to}}</td>
          </tr>
          {{#if isPercentOfTrustedAvailable}}
            <tr>
              <td class="column-medium"><strong>Trusted VMs</strong></td>
              <td>
                {{#view App.TooltipView titleBinding="totalTrustedMessage" style="width:100%" placement="right"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfTrustedWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#link-to "vms"}}
                        {{percentOfTrusted}}%
                      {{/link-to}}
                      <a> <i class="icon-info-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfVictimsAvailable}}
            <tr>
              <td class="column-medium"><strong>Victim VMs</strong></td>
              <td>
                {{#view App.TooltipView titleBinding="totalVictimsMessage" placement="right" style="width:100%"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfVictimsWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#link-to "vms"}}
                        {{percentOfVictims}}%
                      {{/link-to}}
                      <a> <i class="icon-info-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfAggressorsAvailable}}
            <tr>
              <td class="column-medium"><strong>Aggressor VMs</strong></td>
              <td>
                {{#view App.TooltipView titleBinding="totalAggressorsMessage" style="width:100%" placement="right"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfAggressorsWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#link-to "vms"}}
                        {{percentOfAggressors}}%
                      {{/link-to}}
                      <a> <i class="icon-info-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
          {{#if isTotalVcpusPercentAvailable}}
            <tr>
              <td class="column-medium"><strong>vCPUs</strong></td>
              <td>
                {{#view App.TooltipView titleBinding="controllers.nodes.totalVcpusMessage" style="width:100%" placement="right"}}
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="controllers.nodes.totalVcpusWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#link-to "vms"}}
                        {{totalVcpusPercent}}%
                      {{/link-to}}
                      <a> <i class="icon-info-sign"></i> </a>
                    </small>
                  </div>
                {{/view}}
              </td>
            </tr>
          {{/if}}
       </tbody>
    </table>
    {{#if contentionVmsExist}}
      <table class="table table-bordered contention-vms">
        <tbody>
          <tr>
            <td><strong>Highest contention VMs</strong></td>
            <td><strong>Contention</strong></td>
          </tr>
          {{#each contentionVm in contentionVms}}
            <tr>
              <td> {{#link-to "vmsVm" contentionVm}}{{contentionVm.name}}{{/link-to}}</td>
              <td>
                {{#if contentionVm.hasContention}}
                  {{#view App.TooltipView titleBinding="contentionVm.contentionMessage" style="width:100%" placement="right"}}
                    <div class="contention nowrap">
                      <div class="contention-bar">
                        <div class="contention-bar-width" {{bind-attr style="contentionVm.contentionWidth"}}>
                          <div class="contention-gradient"></div>
                        </div>
                      </div>
                      {{na contentionVm.contentionFormatted}}
                      <a> <i class="icon-info-sign"></i> </a>
                    </div>
                  {{/view}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
