<div class="portlet span4">
  <div class="header">Status</div>
  <div class="portlet-content">

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="column-medium">System Health</th>
          <td>{{{healthIcon this.controllers.statuses.health}}} {{healthText this.controllers.statuses.health}} </td>
        </tr>
        <tr>
          <th class="column-medium">IPM Version</th>
          <td>{{controllers.build.version}}</td>
        </tr>
        <tr>
          <th class="column-medium">IPM Master/Slave</th>
          <td>
            {{#if controllers.build.isMaster}}
              IPM Master
            {{else}}
              IPM Slave
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>

    {{#unless controllers.statuses.isConfigPresent}}
      <div class="alert alert-info">Statuses will appear here after uploading configuration files and starting {{App.application.title}}.</div>
    {{else}}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="column-small">Health</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each status in controllers.statuses.parentStatuses}}
            <tr>
              <td class="column-small">{{{healthIcon status.health}}}</td>
              <td>
                <div>{{status.name}}</div>
                <small>{{na status.message}}</small>
              </td>
            </tr>
          {{else}}
            <tr>
              <td class="column-small"></td>
              <td>No status</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <div class="pull-right">
        {{#link-to "status1" "system"}}See Details{{/link-to}}
      </div>
    {{/unless}}

  </div>
</div>
