<div id="dashboard" class="container-fluid">
  <div class="row-fluid">
    {{render "dashboardStatus"}}
    {{render "dashboardStatusComponents"}}
    {{render "dashboardEvents"}}
  </div>
  <div class="row-fluid">
    {{render "dashboardNodeMetrics"}}
    {{render "dashboardVmMetrics"}}
    {{render "dashboardTodo"}}
  </div>
</div>
