<div id="dashboard" class="container-fluid">
  <div class="row-fluid">
    {{partial "portlets/_welcome"}}
    {{render "dashboardStatus"}}
    {{render "dashboardStatusComponents"}}
  </div>
  <div class="row-fluid">
    {{render "dashboardEvents"}}
    {{render "dashboardTodo"}}
    {{render "dashboardVmMetrics"}}
  </div>
</div>
