<div class="portlet span4">
  <div class="header">Status</div>
  <div class="portlet-content">

    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="column-medium">System Health</th>
          <td>{{{healthIcon this.controllers.status.health}}} {{healthText this.controllers.status.health}} </td>
        </tr>
        <tr>
          <th class="column-medium">IPM Version</th>
          <td>{{App.build.version}}</td>
        </tr>
        <tr>
          <th class="column-medium">IPM Master/Slave</th>
          <td>
            {{#if App.build.master}}
              IPM Master
            {{else}}
              IPM Slave
            {{/if}}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="column-small">Health</th>
          <th>Component</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        {{#each status in controllers.status.parentStatuses}}
          <tr>
            <td class="column-small">{{{healthIcon status.health}}}</td>
            <td>{{status.name}}</td>
            <td>
               {{na status.message}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td class="column-small"></td>
            <td>No status</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="pull-right">
      {{#link-to 'status'}}See Details {{/link-to}}
    </div>

  </div>
</div>
