<div id="flavors">
  <div class="row-fluid">
    <div class="content">
      <div class="header row-fluid">
        <div class="actions">
          {{#link-to "flavors.create" class="btn"}}<i class="icon-plus"></i> Create Flavor{{/link-to}}
        </div>
        {{!--
        <form id="filter-form" class="input-prepend clear-input pull-right">
          <span class="add-on"><i class="icon-search"></i></span>
          {{view Ember.TextField id="filter" type="search" valueBinding="filterQuery" placeholder="Filter flavors"}}
          <a class="close clear-button" type="reset" {{action clearFilter}}>&times;</a>
        </form>
        --}}
      </div>
      <table class="table table-bordered expandable">
        <thead>
          <tr>
            {{#each columns}}
              {{partial "columnHeader"}}
            {{/each}}
            <th class="column-small">
              <a {{action refresh}} class="btn btn-mini"><i {{bindAttr class=":icon-refresh model.isUpdating:icon-spin model.isUpdating:disabled"}}></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each}}
            <tr {{bindAttr class="isSelected isExpanded"}}>
              <td><a {{action expand this}}> {{name}} </a></td>
              <td class="column-medium">{{vms.length}}</td>
              <td class="column-large">
                {{#if sla}}
                  {{sla.name}}
                {{/if}}
              </td>
              <td class="column-medium">
                <div class="btn-group">
                  {{#link-to "flavor.edit" this class="btn btn-mini"}}<i class="icon-pencil"></i> Edit{{/link-to}}
                  <a data-toggle="dropdown" class="btn dropdown-toggle btn-mini"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a {{action "deleteFlavor" this}}><i class="icon-remove"></i> Delete</a></li>
                  </ul>
                </div>
              </td>
              <td class="column-small"><a class="btn btn-mini toggle-details" {{action expand this}}><i {{bindAttr class="isExpanded:icon-minus:icon-plus"}}></i></a></td>
            </tr>
            <tr class="expandable-row">
              <td colspan="100%">
                <div class="details">
                  <ul class="nav nav-tabs">
                    <li class="active"><a onclick="App.selectTab(event)">Details</a></li>
                    {{#if vms}}
                      <li><a onclick="App.selectTab(event)">VMs</a></li>
                    {{/if}}
                    {{!--
                    {{#if sla}}
                      <li><a onclick="App.selectTab(event)">SLA</a></li>
                    {{/if}}
                    --}}
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane details active">
                      <table class="table table-bordered">
                        <tr>
                          <th>Name</th>
                          <th>vCPUs</th>
                          <th>Memory</th>
                          <th>Root</th>
                          <th>Swap</th>
                          <th>Ephemeral</th>
                          <th>RX/TX factor</th>
                          <th>SLA</th>
                        </tr>
                        <tr>
                          <td>{{na name}}</td>
                          <td>{{na vcpus}}</td>
                          <td>{{readableMegabytes memory}}</td>
                          <td>{{na root}} GiB</td>
                          <td>{{na swap}} GiB</td>
                          <td>{{na ephemeral}} GiB</td>
                          <td>{{na rxtxFactor}}</td>
                          <td>
                            {{#if sla}}
                              {{sla.name}}
                              {{#each slo in sla.slos}}
                                <li>{{slo.description}}</li>
                              {{else}}
                                <li>No SLOs</li>
                              {{/each}}
                            {{else}}
                              No SLA
                            {{/if}}
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane vms">
                      <ul>
                        {{#each vm in vms}}
                          <li>{{#link-to "vmsVm" vm}}{{vm.name}}{{/link-to}}</li>
                        {{else}}
                          <li>No VMs</li>
                        {{/each}}
                      </ul>
                    </div>
                    {{!--
                    <div class="tab-pane sla">
                      <strong>{{sla.name}}</strong>
                      <ul>
                        {{#each slo in sla.slos}}
                          <li>{{slo.description}}</li>
                        {{else}}
                          <li>No SLOs</li>
                        {{/each}}
                      </ul>
                    </div>
                    --}}
                  </div>
                </div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="100%">
                {{#unless model.isUpdating}}
                  <div class="alert alert-info">No Flavors found.</div>
                {{/unless}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
