<div class="modal hide fade" id="advanced-search-modal" data-backdrop="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Advanced Log Search</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs" id="logAdvancedSearchTabs">
      <li class="active"><a onclick="App.selectTab(event)">Nodes</a></li>
      <li><a onclick="App.selectTab(event)">VMs</a></li>
      <li><a onclick="App.selectTab(event)">Severities</a></li>
      <li><a onclick="App.selectTab(event)">Categories</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active modal-overflow nodes">
        <ul class="three-columns no-list-style">
          {{#each node in controllers.nodes}}
            <li><label>{{view Ember.Checkbox checkedBinding="node.isSelected"}} {{node.name}} </label></li>
          {{/each}}
        </ul>
      </div>
      <div class="tab-pane modal-overflow vms">
        <ul class="three-columns no-list-style">
          {{#each vm in controllers.vms}}
            <li>
              <label {{bindAttr title="vm.name"}}>
                {{view Ember.Checkbox checkedBinding="vm.isSelected"}} {{vm.name}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="tab-pane modal-overflow severities">
        <ul class="no-list-style">
          {{#each criticality in criticalitiesFiltered}}
            <li>
              <label>
                {{view Ember.Checkbox checkedBinding="criticality.isSelected"}} {{criticality.label}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="tab-pane modal-overflow categories">
        <ul class="three-columns no-list-style">
          {{#each logCategory in controllers.logcategories}}
            <li>
              <label>
                {{view Ember.Checkbox checkedBinding="logCategory.isSelected"}} {{logCategory.name}}
              </label>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" {{action modalHide target="view"}}> Close </button>
  </div>
</div>
