<div class="log-bar">

  {{view Ember.Select viewName="select"
    contentBinding="shortCutTimes"
    selectionBinding="shortCutTimeSelected"
    optionLabelPath="content.label"
    optionValuePath="content.id"
  }}
  {{view Ember.TextField valueBinding="searchText" size="17" placeholder="Search text"}}
  {{view Ember.Select viewName="select"
    contentBinding="nodes"
    selectionBinding="nodeSelected"
    optionLabelPath="content.label"
    prompt="All nodes"
    optionValuePath="content.value"
  }}
  {{view Ember.Select viewName="select"
    contentBinding="criticalities"
    selectionBinding="criticalitySelected"
    optionLabelPath="content.label"
    prompt="All severities"
    optionValuePath="content.id"
  }}
  {{view App.DatePickerView valueBinding="timeFrom" dataDateFormat="yyyy-mm-dd" class="datepicker" size="9"}}
  to
  {{view App.DatePickerView valueBinding="timeTo" dataDateFormat="yyyy-mm-dd" class="datepicker" size="9"}}

  <button {{action updateLogsFrame target="view"}} class="btn btn-primary btn-small log-buttons">Search</button>
  <button {{action reset}} class="btn btn-inverse btn-small log-buttons">Reset</button>
  <button {{action advancedSearch}} class="btn btn-info btn-small log-buttons">Advanced</button>

</div>
{{!-- {{view Ember.TextField valueBinding="App.logBar.searchTextQuery" size="30"}} --}}
<iframe {{bindAttr src="logsUrl"}} id="allLogsFrame" name="allLogsFrame" class="logsFrame"></iframe> 
