{{#if this.controllers.statuses.logsAreVisible}}
  <div class="log-bar">
    Toggle Graphical Mode:
    <div class="btn-group">
      <button {{action "graphicalMode" true}} {{bind-attr class="isGraphicalMode:btn-primary:btn :btn-small :log-buttons"}}>On</button>
      <button {{action "graphicalMode" false}} {{bind-attr class="isGraphicalMode:btn:btn-primary :btn-small :log-buttons"}}>Off</button>
    </div>
  </div>
  <iframe {{bind-attr src="logsUrl"}} id="allLogsFrame" name="allLogsFrame" class="logsFrame"></iframe>
{{else}}
  <div class="logs-container">
    <br />
    <div class="alert alert-error">
      There is a problem with logging storage: {{controllers.statuses.loggingStatus.message}}
    </div>
  </div>
{{/if}}
