<div id="login" class="container">
  {{#if alert}}
    <div id="login-notification" class="notification">
      <div {{bind-attr class=":alert alertClass"}}>
        <button type="button" class="close" {{action "clearAlert"}}>&times;</button>
        {{alert}}
      </div>
    </div>
  {{/if}}
  <div class="portlet">
    <div class="header">User Login</div>
    <form {{action "login" on="submit"}}>
      <section>
        <label for="inputUsername"><small>Username</small></label>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          {{view Ember.TextField valueBinding="username" id="login-username" placeholder="Username" autofocus="autofocus"}}
        </div>
      </section>
      <section>
        <label for="inputPassword"><small>Password</small>
          {{#view App.TooltipView title="Case sensitive"}}<i class="icon-info-sign icon-info-blue"></i>{{/view}}
        </label>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-lock"></i></span>
          {{view Ember.TextField valueBinding="password" id="login-password" placeholder="Password" type="password"}}
        </div>
        <p class="forgot-password">
          <a class="tooltip-left" rel="tooltip" data-original-title="Click here to reset your password.">
          <small>{{#link-to "tempPassword"}}Forgot your password?{{/link-to}}</small>
          </a>
        </p>
      </section>
{{!--       <section>
        <label><small>Tenant</small></label>
        <div class="tenant">
          <label>{{view Ember.RadioButton selection=tenantType value="default"}} Default</label>
          <label>{{view Ember.RadioButton selection=tenantType value="custom"}} Custom</label>
        </div>
        {{#unless isDefaultTenant}}
          <div class="input-prepend">
            <span class="add-on"><i class="icon-group"></i></span>
            {{view Ember.TextField type="text" id="login-tenantName" value=tenantName placeholder="Tenant name"}}
          </div>
        {{/unless}}
      </section> --}}
      <div class="form-actions">
        {{#unless isPending}}
          <input class="btn btn-primary" type="submit" value="Login"></input>
        {{else}}
          <a class="btn btn-primary disabled"><i class="icon-spinner icon-spin"></i> Logging in...</a>
        {{/unless}}
      </div>
    </form>
  </div>
</div>
