<div id="login" class="container">
  {{#if alert}}
    <div id="login-notification" class="notification">
      <div {{bindAttr class=":alert alertClass"}}>
        <button type="button" class="close" {{action "clearAlert"}}>&times;</button>
        {{alert}}
      </div>
    </div>
  {{/if}}
  <div class="portlet" style="float:none; margin:20px auto;">
    <div class="header" style="text-align:left;">User Login</div>
    <form {{action "login" on="submit"}}>
      <label for="inputUsername"><small>Username</small></label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        {{view Ember.TextField valueBinding="username" id="login-username" placeholder="Username" autofocus="autofocus"}}
      </div>
      <label for="inputPassword"><small>Password</small>
        {{#view App.TooltipView title="Case sensitive"}}<i class="icon-info-sign icon-info-blue"></i>{{/view}}
      </label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        {{view Ember.TextField valueBinding="password" id="login-password" placeholder="Password" type="password"}}
      </div>
      <p class="login-help">
        <a class="tooltip-left" rel="tooltip" data-original-title="Click here to reset your password.">
        {{!-- <small>{{#link-to "tempPassword"}}Forgot your password?{{/link-to}}</small> --}}
        </a>
      </p>
      <div class="form-actions">
        {{#unless isPending}}
          <input class="btn btn-primary" type="submit" value="Login"></input>
        {{else}}
          <a class="btn btn-primary disabled"><i class="icon-spinner icon-spin"></i> Logging in...</a>
        {{/unless}}
      </div>
    </form>
  </div>
</div>
