<div id="nodes" class="container-fluid">
  <div class="row-fluid">
    <div class="content">
      <div class="header row-fluid">
        <div class="span7">
          <div class="row-fluid">
            <div class="span6">
              <small>Used of Available vCPUs ({{totalVcpusMessage}})</small>
              <div class="progress progress-success">
                <div class="bar" {{bind-attr style="totalVcpusWidth"}}></div>
              </div>
            </div>
            <div class="span6">
              <small>Used of Available RAM ({{totalRamMessage}})</small>
              <div class="progress progress-success">
                <div class="bar" {{bind-attr style="totalRamWidth"}}></div>
              </div>
            </div>
          </div>
        </div>
        <div class="span5">
          <div class="global-actions"></div>
          <div id="filter-form" class="input-prepend clear-input pull-right">
            <span class="add-on"><i class="icon-search"></i></span>
            {{view Ember.TextField id="filter" type="search" valueBinding="filterQuery" placeholder="Filter nodes"}}
            <a class="close clear-button" type="reset" {{action "clearFilter"}}>&times;</a>
          </div>
        </div>
      </div>
      <div class="table table-bordered expandable">
        <div class="thead">
          <table>
            <thead>
              <tr>
                <th class="column-small"><a {{action "selectAll"}} title="Select all"><i class="icon-check icon-large"></i></a></th>
                {{#each columns}}
                  {{partial "columnHeader"}}
                {{/each}}
                <th class="column-small">
                  <a {{action "refresh"}} class="btn btn-mini"><i {{bind-attr class=":icon-refresh model.isUpdating:icon-spin model.isUpdating:disabled"}}></i></a>
                </th>
              </tr>
            </thead>
          </table>
        </div>
        {{#group}}
          {{view App.ListView contentBinding="filteredModel"}}
        {{/group}}
      </div>
      {{outlet}}
    </div>
  </div>
</div>
