<table>
  <tbody>
    <tr {{bind-attr class="isSelected isExpanded isAgentInstalled isScheduled"}}>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          {{view Ember.Checkbox checkedBinding="isSelected"}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isUnhealthy}}
          {{#view App.TooltipView titleBinding="healthMessage"}}
            {{healthIcon status.health}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="operationalMessage"}}
            {{operationalIcon status.operational}}
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isTrustRegistered}}
          {{#view App.TooltipView placement="right" dataHtml=true titleBinding="trustMessage"}}
            <span class="icon-stack">
              {{#if isTrustUnknown}}
                <i class="icon-large icon-question-sign unknown"></i>
              {{else}}
                <i {{bind-attr class=":icon-large isTrusted:icon-lock:icon-unlock isTrusted:trusted:untrusted"}}></i>
              {{/if}}
              {{#if isTrustAgentNotInstalledOrUnknown}}
                <i class="secondary-icon icon-ban-circle inset" style="font-size:12px;"> </i>
              {{/if}}
            </span>
          {{/view}}
        {{else}}
          {{#view App.TooltipView placement="right" dataHtml=true titleBinding="isTrustRegisteredMessage"}}
            <span class="icon-stack">
              <i class="icon-large icon-unlock unregistered"></i>
              {{#if isTrustAgentNotInstalledOrUnknown}}
                <i class="secondary-icon icon-ban-circle inset" style="font-size:12px;"> </i>
              {{/if}}
            </span>
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="nodeTypeMessage"}}
          {{#if isAssured}}
            {{#if isAssuredCoresPhysical}}
              <i class="icon-large icon-pushpin assured"></i>
            {{else}}
              <i class="icon-large icon-trophy assured"></i>
            {{/if}}
          {{else}}
            {{#if isMonitored}}
              <i class="icon-large icon-eye-open monitored"></i>
            {{else}}
              <i class="icon-large icon-trophy unassured"></i>
            {{/if}}
          {{/if}}
        {{/view}}
      </div></td>
      <td><div class="cell-container ellipsis">
        {{#if isAgentInstalled}}
          <a {{action "expand" this}}>{{name}}</a>
          {{{scheduledIcon}}}
        {{else}}
          {{name}}
        {{/if}}
      </div></td>
      <td><div class="cell-container">{{na vmInfo.count}}</div></td>
      <td>
        <div class="cell-container">
          <div class="cpu-typography">
            <div class="sockets-and-cores">
              <div class="sockets">{{na capabilities.sockets}} CPUs </div>
              <div class="cores">&times; {{na capabilities.cores_per_socket}} cores </div>
            </div>
            <div class="cpu-frequency">
              <span class="operator">@</span>
              {{na cpuFrequency}}
            </div>
          </div>
        </div>
      </td>
      <td><div class="cell-container">
        {{#unless isAssuredCoresPhysical}}
          {{#if computeExists}}
            {{#unlessEmpty utilization.scu.system.max}}
              <div class="contention">
                {{#view App.PopoverView title="SAA Compute Units" dataTrigger="hover"}}
                  <div class="contention-bar">
                    <div class="contention-bar-width" {{bind-attr style="computeWidth"}} >
                      <div class="contention-gradient"></div>
                    </div>
                  </div>
                  {{#if scuCurrentExceedsMax}}
                    <span style="color:red;"><strong>{{na utilization.scu.system.allocated}}</strong></span>
                  {{else}}
                    {{na utilization.scu.system.allocated}}
                  {{/if}}
                  <div class="popover-content" style="display:none;">
                    <div style="width:550px;">
                      <h5> System </h5>
                      <div style="border: 1px solid #ddd; padding:5px; background-color:#f0f0f1; margin-bottom:8px">
                        <table style="width:100%;" class="table-borderless">
                          <tr>
                            <td class="column-compressed"> Allocation: {{utilization.scu.system.allocated}} SCUs allocated of {{utilization.scu.system.max}} total</td>
                            <td>
                              {{progress-bar-simple
                                value=utilization.scu.system.allocated
                                thresholdMax=utilization.scu.system.max
                              }}
                            </td>
                          </tr>
                          <tr>
                            <td class="column-compressed" style="line-height:30px;"> Unallocated: {{scuUnallocated}} of {{utilization.scu.system.max}} total </td>
                          </tr>
                          <tr>
                            <td class="column-compressed"> Utilization: {{scuTotal}} SCUs utilized of {{utilization.scu.system.allocated}} total</td>
                            <td>
                              {{progress-bar-simple
                                value=scuTotal
                                thresholdMax=utilization.scu.system.allocated
                              }}
                            </td>
                          </tr>
                        </table>
                      </div>
                      <table style="width:100%;" class="table-borderless">
                        {{#each scuValues itemController="scuValue"}}
                          <tr>
                            <td class="column-compressed"> {{type}}:
                              {{#if ulitizationCurrentAvailable}}
                                {{utilizationCurrent}} SCUs utilized out of
                              {{/if}}
                              {{max}} SCUs.
                              {{#if hasBurst}}
                                <br>(Assured {{min}} SCUs allocated and burst up to {{max}} SCUs)
                              {{/if}}
                            </td>
                            <td>
                              <div>
                                {{progress-bar-stacked value=utilizationCurrent overallWidth="90%" thresholdOne=min thresholdTwo=max thresholdThree=max barLabel1Binding="hasBurst"}}
                              </div>
                            </td>
                          </tr>
                        {{/each}}
                      </table>
                    </div>
                  </div>
                  <a> <i class="icon-question-sign"></i> </a>
                {{/view}}
              </div>
            {{else}}
              {{na utilization.scu.system.allocated suffix=" SCUs"}}
            {{/unlessEmpty}}
          {{/if}}
        {{else}}
          {{#unlessEmpty utilization.cores.system.used}}
            <div class="contention">
              {{progress-bar-simple
                value=utilization.cores.system.used
                thresholdMax=utilization.cores.system.max
                title="Cores"
              }}
            </div>
          {{/unlessEmpty}}
        {{/unless}}
      </div></td>
      {{!-- <td><div class="cell-container">{{na utilization.ipc}}</div></td> --}}
      <td>
        <div class="cell-container">
          {{#if percentOfMemoryAvailable}}
            {{progress-bar-simple
              value=memoryUsed
              thresholdMax=maxMemory
              bytesToReadableSize=true
              title="Memory"
            }}
          {{else}}
            {{readableSize utilization.memory.used}}
          {{/if}}
        </div>
      </td>
      <td><div class="cell-container">
        {{#unlessEmpty utilization.normalized_load}}
          {{progress-bar-stacked value=utilization.normalized_load overallWidth="90%" thresholdOne=1 thresholdTwo=2 thresholdThree=3}}
        {{else}}
          {{na utilization.normalized_load}}
        {{/unlessEmpty}}
      </div></td>
      <td><div class="cell-container">
        {{#if hasContention}}
          <div class="contention nowrap">
            {{#view App.PopoverView title="Contention" dataPlacement="left" dataTrigger="hover"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bind-attr style="contentionWidth"}}>
                  <div class="contention-gradient"></div>
                </div>
              </div>
               {{#if contentionCurrentExceedsMax}}
                 <span style="color:red;"><strong>{{na contentionFormatted}}</strong></span>
               {{else}}
                 {{na contentionFormatted}}
               {{/if}}
              <a> <i class="icon-question-sign"></i> </a>
              <div class="popover-content" style="display:none;">
                <div>
                  {{{contentionMessage}}}
                </div>
                <div style="width:400px; margin-left:15px;">
                  {{#each contentionValues}}
                    <div style="margin-bottom:25px; margin-top:20px;">
                      {{#if currentExceedsMax}}
                        {{progress-bar-simple
                          value=value
                          thresholdMax=max
                          title=type
                          progressBarColor="bar-danger"
                          displayMaximum=false
                        }}
                      {{else}}
                        {{progress-bar-simple
                          value=value
                          thresholdMax=max
                          title=type
                          displayMaximum=false
                        }}
                      {{/if}}
                    </div>
                  {{/each}}
                </div>
                <dl class="dl-horizontal dl-compressed">
                  {{#each contentionCgroup in contentionPopoverCgroups itemController="popoverCgroup"}}
                    {{#if currentExceedsMax}}
                      <span style="color:red;">
                        <dt>{{contentionCgroup.title}}:</dt>
                        <dd>{{contentionCgroup.value}}</dd>
                      </span>
                    {{else}}
                      <dt>{{contentionCgroup.title}}:</dt>
                      <dd>{{contentionCgroup.value}}</dd>
                    {{/if}}
                  {{/each}}
                </dl>
              </div>

            {{/view}}
          </div>
        {{/if}}
      </div></td>
      <td>
        <div class="cell-container overflow-visible">
          <div class="btn-group">
            {{#if isOn}}
              <a {{bind-attr class=":btn :btn-mini isActionPending:disabled"}} {{action "reboot" this}}><i class="icon-refresh"></i> Reboot</a>
            {{else}}
              <a class="btn btn-mini disabled"><i class="icon-bolt"></i> Power On</a>
            {{/if}}
            {{#if nodeActionsAreAvailable}}
              <a data-toggle="dropdown" {{bind-attr class=":btn :dropdown-toggle :btn-mini isActionPending:disabled"}}>
                {{#unless isActionPending}}
                  <span {{bind-attr class="nodeActionsAreAvailable::disabled :caret"}}></span>
                {{else}}
                  <i class="icon-spinner icon-spin"></i>
                {{/unless}}
              </a>
              {{#with this as contextNode}}
                <ul class="dropdown-menu">
                  {{#each nodeActions}}
                    {{#if isListItem}}
                      <li {{bind-attr class="isDisabled:disabled"}}>
                        {{#if isDisabled}}
                          <a class="disabled">
                            <i {{bind-attr class="icon"}}></i> {{name}}
                          </a>
                        {{else}}
                          <a {{action "performAction" method contextNode}}>
                            <i {{bind-attr class="icon"}}></i> {{name}}
                          </a>
                        {{/if}}
                      </li>
                    {{/if}}
                    {{#if additionalListItems}}
                      {{view additionalListItems}}
                    {{/if}}
                  {{/each}}
                </ul>
              {{/with}}
            {{/if}}
          </div>
        </div>
      </td>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          <a class="btn btn-mini toggle-details" {{action "expand" this}}>
            <i {{bind-attr class="isExpanded:icon-minus:icon-plus"}}></i>
          </a>
        {{/if}}
      </div></td>
    </tr>
  </tbody>
</table>
