<div id="nodes" class="container-fluid">
  <div class="row-fluid">
    <div class="content">
      <div class="header row-fluid">
        <div class="span7">
          <div class="row-fluid">
            <div class="span6">
              <small>Used of Available vCPUs ({{totalVcpusMessage}})</small>
              <div class="progress progress-success">
                <div class="bar" {{bindAttr style="totalVcpusWidth"}}></div>
              </div>
            </div>
            <div class="span6">
              <small>Used of Available RAM ({{totalRamMessage}})</small>
              <div class="progress progress-success">
                <div class="bar" {{bindAttr style="totalRamWidth"}}></div>
              </div>
            </div>
          </div>
        </div>
        <div class="span5">
          <div class="global-actions"></div>
          {{!--
          <form id="filter-form" class="input-prepend clear-input pull-right">
            <span class="add-on"><i class="icon-search"></i></span>
            {{view Ember.TextField id="filter" type="search" valueBinding="filterQuery" placeholder="Filter nodes"}}
            <a class="close clear-button" type="reset" {{action "clearFilter"}}>&times;</a>
          </form>
          --}}
        </div>
      </div>
      <table class="table table-bordered expandable">
        <thead>
          <tr>
            <th class="column-small"><a {{action "selectAll"}} title="Select all"><i class="icon-check icon-large"></i></a></th>
            {{#each columns}}
              {{partial columnHeader}}
            {{/each}}
            <th class="column-small">
              <a {{action "refresh"}} class="btn btn-mini"><i {{bindAttr class=":icon-refresh model.isUpdating:icon-spin model.isUpdating:disabled"}}></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each}}
            <tr {{bindAttr class="isSelected isExpanded isAgentInstalled isScheduled"}}>
              <td class="column-small">
                {{#if isAgentInstalled}}
                  {{view Ember.Checkbox checkedBinding="isSelected"}}
                {{/if}}
              </td>
              <td class="column-small">
                {{#view App.TooltipView titleBinding="servicesMessage"}}
                  <img {{bindAttr src="nodeTypeLink"}}>
                {{/view}}
              </td>
              <td class="column-small">
                {{#if isHealthy}}
                  {{#view App.TooltipView titleBinding="operationalMessage"}}
                    {{operationalIcon status.operational}}
                  {{/view}}
                {{else}}
                  {{#view App.TooltipView titleBinding="healthMessage"}}
                    {{healthIcon status.health}}
                  {{/view}}
                {{/if}}
              </td>
              <td class="column-small">
                {{#if isTrustRegistered}}
                  {{#view App.TooltipView titleBinding="trustMessage"}}
                    {{#if isTrustUnknown}}
                      <i class="icon-large icon-question-sign trust-unknown"></i>
                    {{else}}
                      <i {{bindAttr class=":icon-large isTrusted:icon-lock:icon-unlock isTrusted:trusted:untrusted"}}></i>
                    {{/if}}
                  {{/view}}
                {{else}}
                  {{#view App.TooltipView titleBinding="isTrustRegisteredMessage"}}
                    <i class="icon-large icon-unlock trust-unregistered"></i>
                  {{/view}}
                {{/if}}
              </td>
              <td class="column-small">
                {{#view App.TooltipView titleBinding="assuredMessage"}}
                  <i {{bindAttr class=":icon-large :icon-trophy isAssured:assured:unassured"}}></i>
                {{/view}}
              </td>
              <td>
                {{#if isAgentInstalled}}
                  <a {{action "expand" this}}>{{name}}</a>
                  {{#if isScheduled}}
                    {{#view App.TooltipView titleBinding="scheduledMessage"}}
                      <i class="icon-magnet"></i>
                    {{/view}}
                  {{/if}}
                {{else}}
                  {{name}}
                {{/if}}
              </td>
              <td>{{na vmInfo.count}}</td>
              <td>
                <div class="cpu-typography">
                  <div class="sockets-and-cores">
                    <div class="sockets">{{na capabilities.sockets}} CPUs </div>
                    <div class="cores">&times; {{na capabilities.cores_per_socket}} cores </div>
                  </div>
                  <div class="cpu-frequency">
                    <span class="at">@</span>
                    {{na cpuFrequency}}
                  </div>
                </div>
              </td>
              <td>{{na utilization.gips_current}}</td>
              <td>{{na utilization.ipc}}</td>
              <td>{{readableSize utilization.memory}}</td>
              <td>
                {{#if contention.system.llc.value}}
                  <div class="contention">
                    <div class="contention-bar">
                      {{#view App.TooltipView titleBinding="contentionMessage"}}
                        <div class="contention-bar-width" {{bindAttr style="contentionWidth"}}>
                          <div class="contention-gradient"></div>
                        </div>
                      {{/view}}
                    </div>
                    {{na contentionFormatted}}
                  </div>
                {{else}}
                  <span class="not-applicable">n/a</span>
                {{/if}}
              </td>
              <td>
                <div class="btn-group">
                  {{#if isAgentInstalled}}
                    {{#if isOn}}
                      <a {{action "reboot" this}} class="btn btn-mini"><i class="icon-refresh"></i> Reboot</a>
                    {{else}}
                      <a class="btn disabled btn-mini"><i class="icon-bolt"></i> Power On</a>
                    {{/if}}
                    <a data-toggle="dropdown" class="btn dropdown-toggle btn-mini"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {{#if App.mtWilson.isInstalled}}
                        {{#if trustNode.ipaddress}}
                          <li><a {{action "removeTrust" this}}><i class="icon-unlock"></i> Remove Trust</a></li>
                        {{else}}
                          <li><a {{action "addTrust" this}}><i class="icon-lock"></i> Add Trust</a></li>
                        {{/if}}
                        <li><a {{action "trustFingerprint" this}}><i class="icon-hand-up"></i> Fingerprint</a></li>
                      {{/if}}
                      <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report </a></li>
                      {{#if isScheduled}}
                        <li><a {{action "unschedule" this}}><i class="icon-magnet"></i> Unset for VM placement</a></li>
                      {{else}}
                        {{#each socketNumber in socketsEnum}}
                          <li><a {{action "schedule" this socketNumber}}><i class="icon-magnet"></i> Place VMs on Socket {{socketNumber}}</a></li>
                        {{/each}}
                      {{/if}}
                      {{#if samRegistered}}
                        <li><a {{action "unregister" this}}><i class="icon-remove"></i> Unregister</a></li>
                      {{/if}}
                    </ul>
                  {{else}}
                    {{#if samRegistered}}
                      <a {{action "unregister" this}}><i class="icon-remove"></i> Unregister</a>
                    {{/if}}
                  {{/if}}
                </div>
              </td>
              <td class="column-small">
                {{#if isAgentInstalled}}
                  <a class="btn btn-mini toggle-details" {{action "expand" this}}>
                    <i {{bindAttr class="isExpanded:icon-minus:icon-plus"}}></i>
                  </a>
                {{/if}}
              </td>
            </tr>
            <tr class="expandable-row">
              <td colspan="100%">
                <div class="details">
                  <ul class="nav nav-tabs">
                    <li class="active"><a onclick="App.selectTab(event)">Details</a></li>
                    <li><a onclick="App.selectTab(event)">Utilization</a></li>
                    <li><a onclick="App.selectTab(event)">Capabilities</a></li>
                    <li><a onclick="App.selectTab(event)">VMs</a></li>
                    <li><a onclick="App.selectTab(event)">Graphs</a></li>
                    <li><a onclick="App.selectTab(event)">Trust</a></li>
                    <li><a onclick="App.selectTab(event)">MLEs</a></li>
                    <li><a onclick="App.selectTab(event)">PCR Logs</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active details">
                      <table class="table table-bordered">
                        <tr>
                          <th>Hostname</th>
                          <th>Health</th>
                          <th>Operational State</th>
                          <th>Trusted</th>
                          <th>Locked</th>
                          <th>vCPUs</th>
                          {{#if isScheduled}}
                            <th>VM Placement</th>
                          {{/if}}
                        </tr>
                        <tr>
                          <td>{{name}}</td>
                          <td>
                            {{#view App.TooltipView titleBinding="healthMessage"}}
                              {{healthIcon status.health}} {{status status.health}}
                            {{/view}}
                          </td>
                          <td>
                            {{operationalIcon status.operational}} {{operational status.operational}}
                          </td>
                          <td>{{capitalize isTrusted}}</td>
                          <td>{{capitalize status.locked}}</td>
                          <td>{{na vcpus.used}} out of {{na vcpus.max}}</td>
                          {{#if isScheduled}}
                            <td>Socket {{schedulerMark}}</td>
                          {{/if}}
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane utilization">
                      <table class="table table-bordered">
                        <tr>
                          <th>SAM Units</th>
                          <th>CPU Throughput</th>
                          <th>Memory</th>
                          <th>CPU Idle</th>
                          <th>I/O Wait</th>
                        </tr>
                        <tr>
                          <td>{{na utilization.gips_current}} out of {{na utilization.gips_max}}</td>
                          <td>{{na utilization.ipc}}</td>
                          <td>{{readableSize utilization.memory}} out of {{readableSize capabilities.memory_size}}</td>
                          <td>{{na utilization.cpu.idle}}</td>
                          <td>{{na utilization.cpu.iowait}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane capabilities">
                      <table class="table table-bordered">
                        <tr>
                          <th>Sockets</th>
                          <th>Cores per Socket</th>
                          <th>CPU Frequency</th>
                          <th>Hyperthreading</th>
                          <th>Turbo Mode</th>
                          <th>Cache Size</th>
                          <th>Memory Size</th>
                        </tr>
                        <tr>
                          <td>{{na capabilities.sockets}}</td>
                          <td>{{na capabilities.cores_per_socket}}</td>
                          <td>{{na capabilities.cpu_frequency}}</td>
                          <td>{{capitalize capabilities.hyperthreading}}</td>
                          <td>{{capitalize capabilities.turbo_mode}}</td>
                          <td>{{readableSize capabilities.cache_size}}</td>
                          <td>{{readableSize capabilities.memory_size}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane vms">
                      <ul>
                        {{#each vm in vms}}
                          <li>{{#link-to "vmsVm" vm}}{{vm.name}}{{/link-to}}</li>
                        {{else}}
                          <li>No VMs</li>
                        {{/each}}
                      </ul>
                    </div>
                    <div class="tab-pane graphs">
                      {{#each graph in graphs}}
                        <figure class="thumbnail">
                          <img {{bindAttr src="graph.url"}}>
                          <figcaption class="caption">{{graph.desc}}</figcaption>
                        </figure>
                      {{else}}
                        <div class="alert alert-info">No graphs found.</div>
                      {{/each}}
                    </div>
                    <div class="tab-pane trust">
                      {{#if nodeTrustReport.attestations}}
                        <div class="align-right">
                          <button class="btn btn-primary" {{action "trustReportModal" this}}>Generate Trust Report</button>
                        </div>
                        <table class="table table-bordered">
                          <tr>
                            <th class="column-small">Trust Status</th>
                            <th>Message</th>
                            <th>Timestamp</th>
                          </tr>
                          {{#each attestation in nodeTrustReport.attestations}}
                            <tr>
                              <td class="column-small">
                                {{#view App.TooltipView titleBinding="attestation.trust_message" dataContainer="body"}}
                                  <i {{bindAttr class=":icon-large attestation.trust_status:icon-lock:icon-unlock attestation.trust_status:trusted:untrusted"}}></i>
                                {{/view}}
                              </td>
                              <td>{{attestation.report_message}}</td>
                              <td>{{attestation.attestation_time_formatted}}</td>
                            </tr>
                          {{/each}}
                        </table>
                      {{else}}
                        {{#unless model.isUpdating}}
                          <div class="alert alert-info">No attestations found.</div>
                        {{/unless}}
                      {{/if}}
                    </div>
                    <div class="tab-pane mles">
                      {{#if isTrustRegistered}}
                        <table class="table table-bordered">
                          <tr>
                            <th>MLE Type</th>
                            <th>Name</th>
                            <th>OEM Name</th>
                            <th>Attestation Type</th>
                            <th>OS Name</th>
                            <th>Version</th>
                            <th>OS Version</th>
                          </tr>
                          {{#each mle in trustNode.trustMle}}
                            <tr>
                              <td>{{na mle.mleType}}</td>
                              <td>{{#link-to "trust.mle" mle}}{{na mle.name}}{{/link-to}}</td>
                              <td>{{na mle.oemname}}</td>
                              <td>{{na mle.attestationType}}</td>
                              <td>{{na mle.osname}}</td>
                              <td>{{na mle.version}}</td>
                              <td>{{na mle.osversion}}</td>
                            </tr>
                          {{/each}}
                        </table>
                      {{else}}
                        {{#unless model.isUpdating}}
                          <div class="alert alert-info">No MLEs found.</div>
                        {{/unless}}
                      {{/if}}
                    </div>
                    <div class="tab-pane pcr-logs">
                      {{#if trustNode.pcrLogs}}
                        <table class="table table-bordered">
                          <tr>
                            <th class="column-small">Trust Status</th>
                            <th>Name</th>
                            <th>Actual Value</th>
                            <th>
                              {{#view App.TooltipView title="The PCR-19 value is made up of several modules (initrd and vmlinuz) that are node specific. This is why PCR-19 does not have a value listed in the Expected Value column. The modules that make up PCR-19 do have actual/expected values, which are described in the Module Logs column. PCR-19 is the only module based PCR, and is the only PCR that has data in the Module Logs column." dataPlacement="bottom"}}
                                Expected Value
                              {{/view}}
                            </th>
                            <th>
                              {{#view App.TooltipView title="The PCR-19 value is made up of several modules (initrd and vmlinuz) that are node specific. This is why PCR-19 does not have a value listed in the Expected Value column. The modules that make up PCR-19 do have actual/expected values, which are described in the Module Logs column. PCR-19 is the only module based PCR, and is the only PCR that has data in the Module Logs column." dataPlacement="bottom"}}
                                Module Logs
                              {{/view}}
                            </th>
                          </tr>
                          {{#each log in trustNode.pcrLogs}}
                            <tr>
                              <td class="column-small">
                                <i {{bindAttr class=":icon-large log.truststatus:icon-lock:icon-unlock log.truststatus:trusted:untrusted"}}></i>
                              </td>
                              <td>{{na log.name}}</td>
                              <td>{{na log.value}}</td>
                              <td>{{na log.whitelistvalue}}</td>
                              <td>
                                {{#if log.modulelogs}}
                                  {{#each modulelog in log.modulelogs}}
                                    <ul>
                                      <li>Component Name: {{modulelog.componentname}}</li>
                                      <li>Actual Value: {{modulelog.value}}</li>
                                      <li>Expected Value: {{modulelog.whitelistvalue}}</li>
                                      <li>Trust Status: {{modulelog.truststatus}}</li>
                                    </ul>
                                  {{/each}}
                                {{else}}
                                  {{na 'false'}}
                                {{/if}}
                              </td>
                            </tr>
                          {{/each}}
                        </table>
                      {{else}}
                        {{#unless model.isUpdating}}
                          <div class="alert alert-info">No PCR Logs found.</div>
                        {{/unless}}
                      {{/if}}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="100%">
                {{#unless model.isUpdating}}
                  <div class="alert alert-info">No nodes found.</div>
                {{/unless}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
