<table>
  <tbody>
    <tr {{bind-attr class="isSelected isExpanded isAgentInstalled isScheduled"}}>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          {{view Ember.Checkbox checkedBinding="isSelected"}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isUnhealthy}}
          {{#view App.TooltipView titleBinding="healthMessage"}}
            {{healthIcon status.health}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="operationalMessage"}}
            {{operationalIcon status.operational}}
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isTrustRegistered}}
          {{#view App.TooltipView titleBinding="trustMessage"}}
            <span class="icon-stack">
              {{#if isTrustUnknown}}
                <i class="icon-large icon-question-sign unknown"></i>
              {{else}}
                <i {{bind-attr class=":icon-large isTrusted:icon-lock:icon-unlock isTrusted:trusted:untrusted"}}></i>
              {{/if}}
              {{#if isTrustAgentNotInstalledOrUnknown}}
                <i class="secondary-icon icon-ban-circle inset" style="font-size:12px;"> </i>
              {{/if}}
            </span>
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="isTrustRegisteredMessage"}}
            <span class="icon-stack">
              <i class="icon-large icon-unlock unregistered"></i>
              {{#if isTrustAgentNotInstalledOrUnknown}}
                <i class="secondary-icon icon-ban-circle inset" style="font-size:12px;"> </i>
              {{/if}}
            </span>
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="nodeTypeMessage"}}
          {{#if isAssured}}
            <i class="icon-large icon-trophy assured"></i>
          {{else}}
            {{#if isMonitored}}
              <i class="icon-large icon-eye-open monitored"></i>
            {{else}}
              <i class="icon-large icon-trophy unassured"></i>
            {{/if}}
          {{/if}}
        {{/view}}
      </div></td>
      <td><div class="cell-container">
        {{#if isAgentInstalled}}
          <a {{action "expand" this}}>{{name}}</a>
          {{{scheduledIcon}}}
        {{else}}
          {{name}}
        {{/if}}
      </div></td>
      <td><div class="cell-container">{{na vmInfo.count}}</div></td>
      <td>
        <div class="cell-container">
          <div class="cpu-typography">
            <div class="sockets-and-cores">
              <div class="sockets">{{na capabilities.sockets}} CPUs </div>
              <div class="cores">&times; {{na capabilities.cores_per_socket}} cores </div>
            </div>
            <div class="cpu-frequency">
              <span class="operator">@</span>
              {{na cpuFrequency}}
            </div>
          </div>
        </div>
      </td>
      <td><div class="cell-container">
        <div class="zcontention">
          {{#if computeExists}}
            {{progress-bar-adjacent
              tooltip=scuTooltip
              barMin1=scuOsUtilization.min
              barMax1=scuOsUtilization.max
              barValue1=scuOsUtilization.value
              barTitle1="OS SCU Usage"
              barMin2=scuVmUtilization.min
              barMax2=scuVmUtilization.max
              barValue2=scuVmUtilization.value
              barTitle2="VM SCU Usage"
              barMin3=scu6WindUtilization.min
              barMax3=scu6WindUtilization.max
              barValue3=scu6WindUtilization.value
              barTitle3="6Wind SCU Usage"
            }}
          {{else}}
            <span class="not-applicable">n/a</span>
          {{/if}}
        </div>
      </div></td>
      {{!-- <td><div class="cell-container">{{na utilization.ipc}}</div></td> --}}
      <td>
        <div class="cell-container">
          {{#if percentOfMemoryAvailable}}
            {{progress-bar width=percentOfMemoryWidth containerWidth="width:60%;" percent=percentOfMemory message=percentOfMemoryMessage}}
          {{else}}
            {{readableSize utilization.memory}}
          {{/if}}
        </div>
      </td>
      <td><div class="cell-container">
        {{#if utilization.normalized_load}}
          {{progress-bar-stacked value=utilization.normalized_load overallWidth="90%" thresholdOne=1 thresholdTwo=2 thresholdThree=3}}
        {{else}}
          {{na utilization.normalized_load}}
        {{/if}}
      </div></td>
      <td><div class="cell-container">
        {{#if hasContention}}
          {{progress-bar-adjacent
            tooltip=contentionTooltip
            barMin1=osContention.min
            barMax1=osContention.max
            barValue1=osContention.value
            barLabel1=contentionMessage
            barTitle1="OS Contention"
            barMin2=vmContention.min
            barMax2=vmContention.max
            barValue2=vmContention.value
            barLabel2=contentionMessage
            barTitle2="VM Contention"
            barMin3=sixWindContention.min
            barMax3=sixWindContention.max
            barValue3=sixWindContention.value
            barLabel3=contentionMessage
            barTitle3="VM Contention"
          }}
        {{else}}
          <span class="not-applicable">n/a</span>
        {{/if}}
      </div></td>
      <td>
        <div class="cell-container overflow-visible">
          <div class="btn-group">
            {{#if isOn}}
              <a {{bind-attr class=":btn :btn-mini isActionPending:disabled"}} {{action "reboot" this}}><i class="icon-refresh"></i> Reboot</a>
            {{else}}
              <a class="btn btn-mini disabled"><i class="icon-bolt"></i> Power On</a>
            {{/if}}
            {{#if nodeActionsAreAvailable}}
              <a data-toggle="dropdown" {{bind-attr class=":btn :dropdown-toggle :btn-mini isActionPending:disabled"}}>
                {{#unless isActionPending}}
                  <span {{bind-attr class="nodeActionsAreAvailable::disabled :caret"}}></span>
                {{else}}
                  <i class="icon-spinner icon-spin"></i>
                {{/unless}}
              </a>
              {{#with this as contextNode}}
                <ul class="dropdown-menu">
                  {{#each nodeActions}}
                    {{#if isListItem}}
                      <li {{bind-attr class="isDisabled:disabled"}}>
                        {{#if isDisabled}}
                          <a class="disabled">
                            <i {{bind-attr class="icon"}}></i> {{name}}
                          </a>
                        {{else}}
                          <a {{action "performAction" method contextNode}}>
                            <i {{bind-attr class="icon"}}></i> {{name}}
                          </a>
                        {{/if}}
                      </li>
                    {{/if}}
                    {{#if additionalListItems}}
                      {{view additionalListItems}}
                    {{/if}}
                  {{/each}}
                </ul>
              {{/with}}
            {{/if}}
          </div>
        </div>
      </td>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          <a class="btn btn-mini toggle-details" {{action "expand" this}}>
            <i {{bind-attr class="isExpanded:icon-minus:icon-plus"}}></i>
          </a>
        {{/if}}
      </div></td>
    </tr>
  </tbody>
</table>
