<table>
  <tbody>
    <tr {{bind-attr class="isSelected isExpanded isAgentInstalled isScheduled"}}>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          {{view Ember.Checkbox checkedBinding="isSelected"}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isUnhealthy}}
          {{#view App.TooltipView titleBinding="healthMessage"}}
            {{healthIcon status.health}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="operationalMessage"}}
            {{operationalIcon status.operational}}
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isTrustRegistered}}
          {{#view App.TooltipView titleBinding="trustMessage"}}
            {{#if isTrustUnknown}}
              <i class="icon-large icon-question-sign unknown"></i>
            {{else}}
              <i {{bind-attr class=":icon-large isTrusted:icon-lock:icon-unlock isTrusted:trusted:untrusted"}}></i>
            {{/if}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="isTrustRegisteredMessage"}}
            <i class="icon-large icon-unlock unregistered"></i>
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="nodeTypeMessage"}}
          {{#if isAssured}}
            <i class="icon-large icon-trophy assured"></i>
          {{else}}
            {{#if isMonitored}}
              <i class="icon-large icon-eye-open monitored"></i>
            {{else}}
              <i class="icon-large icon-trophy unassured"></i>
            {{/if}}
          {{/if}}
        {{/view}}
      </div></td>
      <td><div class="cell-container">
        {{#if isAgentInstalled}}
          <a {{action "expand" this}}>{{name}}</a>
          {{{scheduledIcon}}}
        {{else}}
          {{name}}
        {{/if}}
      </div></td>
      <td><div class="cell-container">{{na vmInfo.count}}</div></td>
      <td>
        <div class="cell-container">
          <div class="cpu-typography">
            <div class="sockets-and-cores">
              <div class="sockets">{{na capabilities.sockets}} CPUs </div>
              <div class="cores">&times; {{na capabilities.cores_per_socket}} cores </div>
            </div>
            <div class="cpu-frequency">
              <span class="operator">@</span>
              {{na cpuFrequency}}
            </div>
          </div>
        </div>
      </td>
      <td><div class="cell-container">
        <div class="contention">
          {{#if computeExists}}
            {{#view App.TooltipView titleBinding="computeMessage" barBinding="computeWidth"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bind-attr style="computeWidth"}} >
                  <div class="contention-gradient"></div>
                </div>
              </div>
              {{na utilization.su_current}}
            {{/view}}
          {{else}}
            <span class="not-applicable">n/a</span>
          {{/if}}
        </div>
      </div></td>
      {{!-- <td><div class="cell-container">{{na utilization.ipc}}</div></td> --}}
      <td><div class="cell-container">{{readableSize utilization.memory}}</div></td>
      <td><div class="cell-container">
        {{#if hasContention}}
          <div class="contention nowrap">
            {{#view App.TooltipView titleBinding="contentionMessage"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bind-attr style="contentionWidth"}}>
                  <div class="contention-gradient"></div>
                </div>
              </div>
              {{na contentionFormatted}}
            {{/view}}
          </div>
        {{else}}
          <span class="not-applicable">n/a</span>
        {{/if}}
      </div></td>
      <td>
        <div class="cell-container overflow-visible">
          <div class="btn-group">
            {{#if isOn}}
              <a {{bind-attr class=":btn :btn-mini isActionPending:disabled"}} {{action "reboot" this}}><i class="icon-refresh"></i> Reboot</a>
            {{else}}
              <a class="btn btn-mini disabled"><i class="icon-bolt"></i> Power On</a>
            {{/if}}
            <a data-toggle="dropdown" {{bind-attr class=":btn :dropdown-toggle :btn-mini isActionPending:disabled"}}>
              {{#unless isActionPending}}
                <span {{bind-attr class="nodeActionsAreAvailable::disabled :caret"}}></span>
              {{else}}
                <i class="icon-spinner icon-spin"></i>
              {{/unless}}
            </a>
            <ul class="dropdown-menu">
              {{#if nodeActionsAreAvailable}}
                {{view nodeActions}}
              {{else}}
                <li style="padding:3px;">No actions are currently available.</li>
              {{/if}}
            </ul>
          </div>
        </div>
      </td>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          <a class="btn btn-mini toggle-details" {{action "expand" this}}>
            <i {{bind-attr class="isExpanded:icon-minus:icon-plus"}}></i>
          </a>
        {{/if}}
      </div></td>
    </tr>
  </tbody>
</table>
