<table>
  <tbody>
    <tr {{bind-attr class="isSelected isExpanded isAgentInstalled isScheduled"}}>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          {{view Ember.Checkbox checkedBinding="isSelected"}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="servicesMessage"}}
          <i {{bind-attr class="servicesClass"}}></i>
        {{/view}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isUnhealthy}}
          {{#view App.TooltipView titleBinding="healthMessage"}}
            {{healthIcon status.health}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="operationalMessage"}}
            {{operationalIcon status.operational}}
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isTrustRegistered}}
          {{#view App.TooltipView titleBinding="trustMessage"}}
            {{#if isTrustUnknown}}
              <i class="icon-large icon-question-sign unknown"></i>
            {{else}}
              <i {{bind-attr class=":icon-large isTrusted:icon-lock:icon-unlock isTrusted:trusted:untrusted"}}></i>
            {{/if}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="isTrustRegisteredMessage"}}
            <i class="icon-large icon-unlock unregistered"></i>
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="assuredMessage"}}
          <i {{bind-attr class=":icon-large :icon-trophy isAssured:assured:unassured"}}></i>
        {{/view}}
      </div></td>
      <td><div class="cell-container">
        {{#if isAgentInstalled}}
          <a {{action "expand" this}}>{{name}}</a>
          {{scheduledIcon}}
        {{else}}
          {{name}}
        {{/if}}
      </div></td>
      <td><div class="cell-container">{{na vmInfo.count}}</div></td>
      <td><div class="cell-container">
        <div class="cpu-typography">
          <div class="sockets-and-cores">
            <div class="sockets">{{na capabilities.sockets}} CPUs </div>
            <div class="cores">&times; {{na capabilities.cores_per_socket}} cores </div>
          </div>
          <div class="cpu-frequency">
            <span class="operator">@</span>
            {{na cpuFrequency}}
          </div>
        </div>
      </div></td>
      <td><div class="cell-container">
        <div class="contention">
          {{#if computeExists}}
            {{#view App.TooltipView titleBinding="computeMessage" barBinding="computeWidth"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bindAttr style="computeWidth"}} >
                  <div class="contention-gradient"></div>
                </div>
              </div>
              {{na utilization.su_current}}
            {{/view}}
          {{else}}
            <span class="not-applicable">n/a</span>
          {{/if}}
        </div>
      </div></td>
      <td><div class="cell-container">{{na utilization.ipc}}</div></td>
      <td><div class="cell-container">{{readableSize utilization.memory}}</div></td>
      <td><div class="cell-container">
        {{#if hasContention}}
          <div class="contention nowrap">
            {{#view App.TooltipView titleBinding="contentionMessage"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bind-attr style="contentionWidth"}}>
                  <div class="contention-gradient"></div>
                </div>
              </div>
              {{na contentionFormatted}}
            {{/view}}
          </div>
        {{else}}
          <span class="not-applicable">n/a</span>
        {{/if}}
      </div></td>
      <td><div class="cell-container">
        <div class="btn-group">
          {{#if isAgentInstalled}}
            {{#if isOn}}
              <a {{action "reboot" this}} class="btn btn-mini"><i class="icon-refresh"></i> Reboot</a>
            {{else}}
              <a class="btn disabled btn-mini"><i class="icon-bolt"></i> Power On</a>
            {{/if}}
            <a data-toggle="dropdown" class="btn dropdown-toggle btn-mini"><span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{#if App.mtWilson.isInstalled}}
                {{#if isTrustRegistered}}
                  <li><a {{action "removeTrust" this}}><i class="icon-unlock"></i> Remove Trust</a></li>
                  <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
                {{else}}
                  <li><a {{action "addTrust" this}}><i class="icon-lock"></i> Add Trust</a></li>
                  <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
                {{/if}}
                <li><a {{action "trustFingerprint" this}}><i class="icon-hand-up"></i> Fingerprint</a></li>
              {{/if}}
              {{#if isScheduled}}
                <li><a {{action "unschedule" this}}><i class="icon-magnet"></i> Unset for VM placement</a></li>
              {{else}}
                {{#with this as node}}
                  {{#each socketsEnum}}
                    <li><a {{action "schedule" node this}}><i class="icon-magnet"></i> Place VMs on Socket {{this}}</a></li>
                  {{/each}}
                {{/with}}
              {{/if}}
              {{#if samRegistered}}
                <li><a {{action "unregister" this}}><i class="icon-remove"></i> Unregister</a></li>
              {{/if}}
            </ul>
          {{else}}
            {{#if samRegistered}}
              <a {{action "unregister" this}}><i class="icon-remove"></i> Unregister</a>
            {{/if}}
          {{/if}}
        </div>
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isAgentInstalled}}
          <a class="btn btn-mini toggle-details" {{action "expand" this}}>
            <i {{bind-attr class="isExpanded:icon-minus:icon-plus"}}></i>
          </a>
        {{/if}}
      </div></td>
    </tr>
  </tbody>
</table>
