<span id="popover-content" style="display:none; position:absolute;">
  {{#if slo.isComputeSloTable}}
    <span class="table-flat-header"> Max SCUs per vCPU </span>
    <div class="alert alert-info">
      The below table tells you the state of the current cloud and the number of SCUs/cores that are available for nodes in the cloud. All nodes in the cloud meets the minimum value, half of the nodes meet the median value, and X meet the maximum value.
    </div>
    <table class="table">
      <thead>
        <th> </th>
        <th>SCUs</th>
        <th># of Nodes</th>
      </thead>
      <tbody>
        <tr>
          <td> Maximum </td>
          <td> {{slo.sloVcpuTableMaximumScus}} </td>
          <td> {{slo.sloVcpuTableNumberOfNodesMaximumScus}} </td>
        </tr>
        <tr>
          <td> Median </td>
          <td> {{slo.sloVcpuTableMedianScus}} </td>
          <td> {{slo.sloVcpuTableNumberOfNodesMedianScus}} </td>
        </tr>
        <tr>
          <td> Minimum </td>
          <td> {{slo.sloVcpuTableMinimumScus}} </td>
          <td> {{slo.sloVcpuTableNumberOfNodesMinimumScus}} </td>
        </tr>
      </tbody>
    </table>
  {{/if}}
  {{#if slo.isExclusiveCoresSloTable}}
    <span class="table-flat-header"> Max Exclusive Cores per VM </span>
    <div class="alert alert-info">
      The below table tells you the state of the current cloud and the number of cores that are available for nodes in the cloud. All nodes in the cloud meets the minimum value, half of the nodes meet the median value, and X meet the maximum value.
    </div>
    <table class="table">
      <thead>
        <th> </th>
        <th>Exclusive Cores</th>
        <th># of Nodes</th>
      </thead>
      <tbody>
        <tr>
          <td> Maximum </td>
          <td> {{slo.sloExclusiveCoresTableMaximum}} </td>
          <td> {{slo.sloExclusiveCoresTableNumberOfNodesMaximum}} </td>
        </tr>
        <tr>
          <td> Median </td>
          <td> {{slo.sloExclusiveCoresTableMedian}} </td>
          <td> {{slo.sloExclusiveCoresTableNumberOfNodesMedian}} </td>
        </tr>
        <tr>
          <td> Minimum </td>
          <td> {{slo.sloExclusiveCoresTableMinimum}} </td>
          <td> {{slo.sloExclusiveCoresTableNumberOfNodesMinimum}} </td>
        </tr>
      </tbody>
    </table>
  {{/if}}
  {{#if slo.isComputeVmSloTable}}
    <span class="table-flat-header"> Max SCUs per VM </span>
    <div class="alert alert-info">
      The below table tells you the state of the current cloud and the number of SCUs/cores that are available for nodes in the cloud. All nodes in the cloud meets the minimum value, half of the nodes meet the median value, and X meet the maximum value.
    </div>
    <table class="table">
      <thead>
        <th> </th>
        <th>SCUs</th>
        <th># of Nodes</th>
      </thead>
      <tbody>
        <tr>
          <td> Maximum </td>
          <td> {{slo.sloVmTableMaximumScus}} </td>
          <td> {{slo.sloVmTableNumberOfNodesMaximumScus}} </td>
        </tr>
        <tr>
          <td> Median </td>
          <td> {{slo.sloVmTableMedianScus}} </td>
          <td> {{slo.sloVmTableNumberOfNodesMedianScus}} </td>
        </tr>
        <tr>
          <td> Minimum </td>
          <td> {{slo.sloVmTableMinimumScus}} </td>
          <td> {{slo.sloVmTableNumberOfNodesMinimumScus}} </td>
        </tr>
      </tbody>
    </table>
  {{/if}}
</span>
