<div id="slas">
  <div class="row-fluid">
    <div class="content">
      <div class="header row-fluid">
        <div class="actions">
          {{#view App.TooltipView title="Not available in Beta API" class="inline-block"}}
            <a class="btn disabled"><i class="icon-plus"></i> Create SLA</a>
          {{/view}}
        </div>
        {{!--
        <form id="filter-form" class="input-prepend clear-input pull-right">
          <span class="add-on"><i class="icon-search"></i></span>
          {{view Ember.TextField id="filter" type="search" valueBinding="filterQuery" placeholder="Filter SLAs"}}
          <a class="close clear-button" type="reset" {{action clearFilter}}>&times;</a>
        </form>
        --}}
      </div>
      <table class="table table-bordered expandable">
        <thead>
          <tr>
            <th {{bindAttr class=":sortable isColumn1Sorted:sorted sortAscending"}}><a {{action sortModel "name"}}>SLA Name</a></th>
            <th {{bindAttr class=":column-medium :sortable isColumn2Sorted:sorted sortAscending"}}><a {{action sortModel "numberOfSlos"}}># of SLOs</a></th>
            <th {{bindAttr class=":column-large :sortable isColumn3Sorted:sorted sortAscending"}}><a {{action sortModel "sloTypes"}}>SLO Types</a></th>
            <th class="column-medium">Actions</th>
            <th class="column-small">
              <a {{action refresh}} class="btn btn-mini"><i class="icon-refresh"></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each sla in controller}}
            <tr {{bindAttr class="sla.isSelected sla.isExpanded"}}>
              <td><a {{action expand sla}}>{{sla.name}}</a></td>
              <td class="column-medium">{{sla.numberOfSlos}}</td>
              <td class="column-large">{{sla.sloTypes}}</td>
              <td class="column-medium">
                {{#view App.TooltipView title="Not available in Beta API" class="inline-block"}}
                  <a class="btn btn-mini disabled"><i class="icon-pencil"></i> Edit</a>
                {{/view}}
              </td>
              <td class="column-small"><a class="btn btn-mini toggle-details" {{action expand sla}}><i {{bindAttr class="sla.isActive:icon-minus:icon-plus"}}></i></a></td>
            </tr>
            <tr class="expandable-row">
              <td colspan="100%">
                <div class="details">
                  <ul class="nav nav-tabs">
                    <li class="active"><a onclick="App.selectTab(event)">SLOs</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane details active">
                      <ul>
                        {{#each slo in sla.slos}}
                          <li>{{slo.description}}</li>
                        {{else}}
                          <li>No SLOs</li>
                        {{/each}}
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
