  <li {{bind-attr class="view.isSelected:panel-selector"}}>

    {{#if view.content.offspring}}
      <a {{action "toggleChildren" view.id view.content.name false}} 
      {{bind-attr id=view.selectorId class="view.isSelected:panel-selector" title=view.content.message}}>
        <span class="title"> {{healthIcon view.content.health}} {{view.content.name}} </span>
        <div class="description"> 
          {{#if view.content.message}} {{view.content.message}} {{else}} &ensp; {{/if}} 
        </div>
        <i class="icon-chevron-right"></i>
      </a>
    {{else}}
      <span class="no-offspring">
        {{healthIcon view.content.health}} {{view.content.name}}
        <div class="description"> 
          {{#if view.content.message}} {{view.content.message}} {{else}} &ensp; {{/if}} 
        </div>
      </span>
    {{/if}}
  </li>

  {{#if view.isSelected}}
    <div {{bind-attr id=view.childrenId style=view.childrenStyle class=":panel :panel-parent"}}>
      {{#if view.content.offspring}}
          <div class="panel">
            {{#each status in view.content.offspring}}
            <ul>
              {{view App.StatusPanelView content=status level=view.childrenLevel}}
            {{/each}}
          </ul>
          </div>
          <br />
      {{/if}}
    </div>
  {{/if}}
