<div id="trust" class="container-fluid">
  <div class="row-fluid">
    {{#if isInstalled}}
    {{outlet}}
    {{else}}
      <h3>Mt. Wilson</h3>
      <form class="form-horizontal well-clean shadow-lifted">
        <legend>Install Mt. Wilson</legend>
        {{#if isInstalling}}
          <div class="control-group">
            <div class="controls">
              Installing Mt. Wilson. Installation may take 5-10 minutes.
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div class="progress progress-striped active" style="width: 50%;"><div class="bar" style="width: 100%;"></div></div>
            </div>
          </div>
        {{else}}
          {{#if App.network.management.address}}
            <div class="control-group">
              <div class="controls">
                Mt. Wilson is not installed.
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="submit" class="btn btn-primary" value="Start Install" {{action install}}>
              </div>
            </div>
          {{else}}
            <div class="control-group">
              <div class="controls">
                Please {{#linkTo settings.network}}set the management IP address{{/linkTo}} before starting the Mt. Wilson install.
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                {{#linkTo settings.network class="btn"}}Go to Setup{{/linkTo}}
              </div>
            </div>
          {{/if}}
        {{/if}}
      </form>
    {{/if}}
  </div>
</div>
