<div id="vms" class="container-fluid">
  <div class="row-fluid">
    <div class="content">
      <div class="treemap"></div>
      <div class="header">
        <div class="global-actions">
          <a {{action "renderTreemap"}} {{bindAttr class=":btn isTreemapVisible:active"}}><i class="icon-bar-chart"></i> Visualize</a>
        </div>
        {{!--
        <form id="filter-form" class="input-prepend pull-right clear-input">
          <span class="add-on"><i class="icon-search"></i></span>
          {{view Ember.TextField id="filter" type="search" valueBinding="filterQuery" placeholder="Filter VMs"}}
          <a class="close clear-button" type="reset" {{action "clearFilter"}}>&times;</a>
        </form>
        --}}
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="column-small"><a {{action "selectAll"}} title="Select all"><i class="icon-check icon-large"></i></a></th>
            {{#each columns}}
              {{partial columnHeader}}
            {{/each}}
            <th class="column-small">
              <a {{action "refresh"}} class="btn btn-mini"><i {{bindAttr class=":icon-refresh model.isUpdating:icon-spin model.isUpdating:disabled"}}></i></a>
            </th>
          </tr>
        </thead>
          <tbody>
          {{#each}}
            <tr {{bindAttr class="isSelected isExpanded"}}>
              <td class="column-small">
                {{view Ember.Checkbox checkedBinding="isSelected"}}
              </td>
              <td class="column-small">
                {{#if status.isHealthy}}
                  {{#view App.TooltipView titleBinding="status.operationalMessage"}}
                    {{operationalIcon status.operational}}
                  {{/view}}
                {{else}}
                  {{#view App.TooltipView titleBinding="status.healthMessage"}}
                    {{healthIcon status.health}}
                  {{/view}}
                {{/if}}
              </td>
              <td class="column-small">
                {{#view App.TooltipView titleBinding="status.trustMessage"}}
                  {{#if status.isTrustUnknown}}
                    <i class="icon-large icon-question-sign trust-unknown"></i>
                  {{else}}
                    <i {{bindAttr class=":icon-large status.isTrusted:icon-lock:icon-unlock status.isTrusted:trusted:untrusted"}}></i>
                  {{/if}}
                {{/view}}
              </td>
              <td class="column-small">
                {{#view App.TooltipView titleBinding="status.slaMessage"}}
                  <i {{bindAttr class=":icon-large status.slaViolated:icon-remove:icon-trophy status.slaViolated:error status.slaNotViolated:success status.slaUnknown:inset"}}></i>
                {{/view}}
              </td>
              <td><a {{action "expand" this}}>{{name}}</a></td>
              <td>
                {{#if node.samControlled}}
                  {{#link-to "nodesNode" node}}{{nodeName}}{{/link-to}}
                {{else}}
                  {{nodeName}}
                {{/if}}
              </td>
              <td>{{na capabilities.cores}}</td>
              <td>{{na utilization.gips_current}}</td>
              <td>{{na utilization.ipc}}</td>
              <td>{{readableSize utilization.memory}}</td>
              <td>
                <div class="contention">
                  {{#if contentionValueExists}}
                    <div class="contention-bar">
                      {{#view App.TooltipView titleBinding="contentionMessage" barBinding="contentionWidth"}}
                        <div class="contention-bar-width" {{bindAttr style="contentionWidth"}} >
                          <div class="contention-gradient"> </div>
                        </div>
                      {{/view}}
                    </div>
                    {{na contention.system.llc.value}}
                  {{else}}
                    <span class="not-applicable">n/a</span>
                  {{/if}}
                </div>
              </td>
              <td>
                {{#if isOn}}
                  <div class="btn-group">
                    <button class="btn disabled btn-mini"><i class="icon-off"></i> Power Off</button>
                    <button data-toggle="dropdown" class="btn dropdown-toggle btn-mini"><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a class="disabled"><i class="icon-refresh"></i> Restart</a></li>
                      {{#if App.mtWilson.isInstalled}}
                        <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
                      {{/if}}
                    </ul>
                  </div>
                {{else}}
                  <div class="btn-group">
                    <button class="btn disabled btn-mini"><i class="icon-bolt"></i> Power On</button>
                    {{#if App.mtWilson.isInstalled}}
                      <button data-toggle="dropdown" class="btn dropdown-toggle  btn-mini"><span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
                      </ul>
                    {{/if}}
                  </div>
                {{/if}}
              </td>
              <td class="column-small"><a class="btn btn-mini toggle-details" {{action "expand" this}}><i {{bindAttr class="isExpanded:icon-minus:icon-plus"}}></i></a></td>
            </tr>
            <tr class="expandable-row">
              <td colspan="100%">
                <div class="details">
                  <ul class="nav nav-tabs">
                    <li class="active"><a onclick="App.selectTab(event)">Details</a></li>
                    <li><a onclick="App.selectTab(event)">Utilization</a></li>
                    <li><a onclick="App.selectTab(event)">SLAs</a></li>
                    <li><a onclick="App.selectTab(event)">Graphs</a></li>
                    <li><a onclick="App.selectTab(event)">Trust</a></li>
                    <li><a onclick="App.selectTab(event)">Instantiation</a></li>
                    <li><a onclick="App.selectTab(event)">Instantiation Detailed</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active details">
                      <table class="table table-bordered">
                        <tr>
                          <th>VM Name</th>
                          <th>Health</th>
                          <th>State</th>
                          <th>Trust</th>
                          <th>Locked</th>
                          <th>vCPU Cores</th>
                          <th>Memory Size</th>
                        </tr>
                        <tr>
                          <td>{{name}}</td>
                          <td>{{status status.health}}</td>
                          <td>{{operational status.operational}}</td>
                          <td>{{trust status.trust}}</td>
                          <td>{{capitalize status.locked}}</td>
                          <td>{{capitalize capabilities.cores}}</td>
                          <td>{{readableSize capabilities.memory_size}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane utilization">
                      <table class="table table-bordered">
                        <tr>
                          <th>SAM Units</th>
                          <th>CPU Throughput</th>
                          <th>Memory</th>
                          <th>CPU</th>
                          <th>Uptime</th>
                        </tr>
                        <tr>
                          <td>{{na utilization.gips_current}} out of {{na capabilities.gips_allocated}} SAM Units allocated</td>
                          <td>{{na utilization.ipc}}</td>
                          <td>{{readableSize utilization.memory}} out of {{readableSize capabilities.memory_size}}</td>
                          <td>{{oneDecimal utilization.cpu}}</td>
                          <td>{{na utilization.uptime}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane slas">
                      <table class="table table-bordered">
                        <tr>
                          <th>SLA Name</th>
                          <th>SLA Violated</th>
                          <th>SLA Message</th>
                        </tr>
                        <tr>
                          <td>{{capitalize slaName}}</td>
                          <td>{{capitalize status.slaViolated}}</td>
                          <td>{{status.slaMessage}}</td>
                        </tr>
                      </table>
                    </div>
                    <div class="tab-pane graphs">
                      {{#each graph in graphs}}
                        <figure class="thumbnail">
                          <img {{bindAttr src="graph.url"}}>
                          <figcaption class="caption">{{graph.desc}}</figcaption>
                        </figure>
                      {{else}}
                        <div class="alert alert-info">No graphs found.</div>
                      {{/each}}
                    </div>
                    <div class="tab-pane trust">
                      {{#if vmTrustReport.attestations}}
                        <div class="pull-right">
                          <button class="btn btn-primary" {{action "trustReportModal" this}}>Generate Trust Report</button>
                        </div>
                        <br><br>
                        <table class="table table-bordered">
                          <tr>
                            <th class="column-small">Trust Status</th>
                            <th>Message</th>
                            <th>Node</th>
                            <th>Timestamp</th>
                          </tr>
                          {{#each attestation in vmTrustReport.attestations}}
                            <tr>
                              <td class="column-small">
                                {{#view App.TooltipView titleBinding="attestation.node.trust_message" dataContainer="body"}}
                                  <i {{bindAttr class=":icon-large attestation.node.trust_status:icon-lock:icon-unlock attestation.node.trust_status:trusted:untrusted"}}></i>
                                {{/view}}
                              </td>
                              <td>{{attestation.node.report_message}}</td>
                              <td>
                                {{#if node.samControlled}}
                                    {{#link-to "nodesNode" node}}{{nodeName}}{{/link-to}}
                                  {{else}}
                                    {{nodeName}}
                                {{/if}}
                              </td>
                              <td>{{timestamp attestation.node.attestation_time}}</td>
                            </tr>
                          {{/each}}
                        </table>
                      {{else}}
                        {{#unless model.isUpdating}}
                          <div class="alert alert-info">No attestations found.</div>
                        {{/unless}}
                      {{/if}}
                    </div>
                    <div class="tab-pane instantiation">
                      {{#if vmInstantiationSimple.generationTime}}
                        <table class="table table-bordered">
                          <tbody>
                             <tr>
                              <td class="label-left">VM Name</td>
                              <td>{{vmInstantiationSimple.vmName}}</td>
                            </tr>
                            <tr>
                              <td class="label-left">VM ID</td>
                              <td>{{vmInstantiationSimple.id}}</td>
                            </tr>
                            <tr>
                              <td class="label-left">VM Instantiation Trust</td>
                              <td>
                                <strong>
                                  {{#if vmInstantiationSimple.vmTrustStatus}}
                                    <i class="icon-lock"></i> Trusted
                                  {{else}}
                                    <i class="icon-unlock"></i> Untrusted
                                  {{/if}}
                                </strong>
                              </td>
                            </tr>
                            <tr>
                              <td class="label-left">Generation Time</td>
                              <td>{{timestamp vmInstantiationSimple.generationTime}}</td>
                            </tr>
                            <tr>
                              <td class="label-left">SLA</td>
                              <td>{{vmInstantiationSimple.slaName}}</td>
                            </tr>
                            <tr>
                              <td class="label-left">Total number of nodes</td>
                              <td>{{vmInstantiationSimple.nodesCount.total}}</td>
                            </tr>
                            <tr>
                              <td class="label-left">Number of nodes under SAM control</td>
                              <td>{{vmInstantiationSimple.nodesCount.under_sam_control}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-bordered slo-gates-table">
                          <caption> <h4>SLO Gates</h4> </caption>
                          <thead>
                            <tr>
                              <th>SLO</th>
                              <th>Units</th>
                              <th>Description</th>
                              <th>Nodes Count</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each gate in vmInstantiationSimple.sloGates}}
                              <tr>
                                <td>{{gate.slo.id}}</td>
                                <td>{{na gate.slo.unit}}</td>
                                <td>{{gate.description}}</td>
                                <td>{{gate.nodesCount}}</td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                        <table class="table table-bordered ranked-nodes-table">
                          <caption> <h4>Ranked Nodes</h4> </caption>
                          <thead>
                            <tr>
                              <th>Node</th>
                              <th>Selected</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each rankedNode in vmInstantiationSimple.rankedNodes}}
                              <tr {{bind-attr class="rankedNode.selected:success"}}>
                                <td>{{#link-to "nodesNode" rankedNode.node}}{{rankedNode.node.name}}{{/link-to}}</td>
                                <td>{{capitalize rankedNode.selected}}</td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      {{else}}
                        <div class="alert alert-info">The simple instantiation report is not available.</div>
                      {{/if}}
                    </div>
                    <div class="tab-pane instantiation-detailed">
                      {{#if vmInstantiationDetailed.generation_time}}
                        <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <td class="label-left">VM Name</td>
                                <td>{{vmInstantiationSimple.vmName}}</td>
                              </tr>
                              <tr>
                                <td class="label-left">VM ID</td>
                                <td>{{vmInstantiationSimple.id}}</td>
                              </tr>
                              <tr>
                                <td class="label-left">VM Instantiation Trust</td>
                                <td>
                                  <strong>
                                    {{#if vmInstantiationSimple.vmTrustStatus}}
                                      <i class="icon-lock"></i> Trusted
                                    {{else}}
                                      <i class="icon-unlock"></i> Untrusted
                                    {{/if}}
                                  </strong>
                                </td>
                              </tr>
                              <tr>
                                <td class="label-left">Generation Time</td>
                                <td>{{timestamp vmInstantiationDetailed.generation_time}}</td>
                              </tr>
                              <tr>
                                <td class="label-left">Schedule Time</td>
                                <td>{{timestamp vmInstantiationDetailed.schedule_time}}</td>
                              </tr>
                              <tr>
                                <td class="label-left">SLA</td>
                                <td>{{vmInstantiationSimple.slaName}}</td>
                              </tr>
                              <tr>
                                <td class="label-left">Total number of nodes</td>
                                <td>{{vmInstantiationDetailed.nodesCount.total}}</td>
                              </tr>
                              <tr>
                                <td class="label-left">Number of nodes under SAM control</td>
                                <td>{{vmInstantiationDetailed.nodesCount.under_sam_control}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table table-bordered">
                            <caption> <h4>Instantiation Nodes</h4> </caption>
                            <thead>
                              <tr>
                                <th>Node</th>
                                <th>Selected</th>
                                <th>Instantiation SLOs</th>
                                <th>Contention</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#each instantiationNode in vmInstantiationDetailed.instantiationNodes}}
                                <tr>
                                  <td>{{#link-to "nodesNode" instantiationNode.node}}{{instantiationNode.node.name}}{{/link-to}}</td>
                                  <td>{{capitalize instantiationNode.selected}}</td>
                                  <td>
                                    <table class="table nested-slos-table">
                                      <thead>
                                        <tr>
                                          <th>Description</th>
                                          <th>Value</th>
                                          <th>Unit</th>
                                          <th>Passed</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {{#each slo in instantiationNode.instantiationSlos}}
                                          <tr>
                                            <td>{{slo.description}}</td>
                                            <td>{{capitalize slo.value}}</td>
                                            <td>{{capitalize slo.unit}}</td>
                                            <td>{{capitalize slo.passed}}</td>
                                          </tr>
                                        {{/each}}
                                      </tbody>
                                    </table>
                                  </td>
                                  <td>
                                    System LLC: {{instantiationNode.contention.system.llc.label}} ({{instantiationNode.contention.system.llc.value}}) <br>
                                    <em>Sockets</em> <br />
                                    {{#each socket in instantiationNode.contention.sockets}}
                                      Socket #: {{socket.id}} Contention: {{socket.llc.label}} ({{socket.llc.value}}) <br />
                                    {{/each}}
                                  </td>
                                </tr>
                              {{/each}}
                            </tbody>
                          </table>
                        {{else}}
                          <div class="alert alert-info">The detailed instantiation report is not available.</div>
                        {{/if}}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="100%">
                {{#unless model.isUpdating}}
                  <div class="alert alert-info">No VMs found.</div>
                {{/unless}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</div>
