<table>
  <tbody>
    <tr {{bind-attr class="isSelected isExpanded isSlaMissing"}}>
      <td class="column-small"><div class="cell-container">
        {{view Ember.Checkbox checkedBinding="isSelected"}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#if isUnhealthy}}
          {{#view App.TooltipView titleBinding="healthMessage"}}
            {{healthIcon status.health}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="operationalMessage"}}
            {{operationalIcon status.operational}}
          {{/view}}
        {{/if}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="trustMessage"}}
          {{trustIcon status.trust}}
        {{/view}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="slaMessage"}}
          {{#if isAssuredCoresPhysical}}
            <i {{bind-attr class=":icon-large slaUnknown:icon-pushpin slaUnknown:inset slaNotViolated:icon-pushpin slaNotViolated:success slaViolatedWarning:icon-warning-sign slaViolatedWarning:warning slaViolatedError:icon-remove-sign slaViolatedError:error"}}></i>
          {{else}}
            <i {{bind-attr class=":icon-large slaUnknown:icon-trophy slaUnknown:inset slaNotViolated:icon-trophy slaNotViolated:success slaViolatedWarning:icon-warning-sign slaViolatedWarning:warning slaViolatedError:icon-remove-sign slaViolatedError:error"}}></i>
          {{/if}}
        {{/view}}
      </div></td>
      <td class="column-small"><div class="cell-container">
        {{#view App.TooltipView titleBinding="noisyMessage"}}
          {{#if isAggressor}}
            <i {{bind-attr class=":icon-bullhorn :error"}}></i>
          {{/if}}
          {{#if isVictim}}
            <i {{bind-attr class=":icon-headphones :warning"}}></i>
          {{/if}}
        {{/view}}
      </div></td>
      <td><div class="cell-container"><a {{action "expand" this}}>{{name}}</a></div></td>
      <td><div class="cell-container">
        {{#if node.samControlled}}
          {{#link-to "nodesNode" node}}{{nodeName}}{{/link-to}}
        {{else}}
          {{nodeName}}
        {{/if}}
      </div></td>
      <td><div class="cell-container">
        {{#if isAssuredCoresPhysical}}
          {{na capabilities.cores}} vCPUs
        {{else}}
          <div class="cpu-typography">
            {{#if capabilities.cores}}
              {{#if suRange}}
                <div class="cores-and-allocation">
                  <div class="cores">{{na capabilities.cores}} vCPUs</div>
                  <div class="allocation">&times; {{na suRange}} SCU</div>
                </div>
                <div class="total-allocation">
                  <span class="operator">=</span>
                  {{suTotalRange}} SCU
                </div>
              {{else}}
                {{na capabilities.cores}} vCPU
              {{/if}}
            {{else}}
              <span class="not-applicable">n/a</span>
            {{/if}}
          </div>
        {{/if}}
      </div></td>
      <td><div class="cell-container">
        {{#if isAssuredCoresPhysical}}
          {{utilization.cores.system.used.length}} vCPU
        {{else}}
          <div class="allocation">
            {{#if hasCompute}}
              {{#view App.TooltipView titleBinding="allocationMessage"}}
                <div {{bind-attr class=":allocation-bar isRange"}}>
                  <div class="allocation-range"></div> {{! light orange dashed }}
                  <div class="allocation-min" {{bind-attr style="allocationMinWidth"}}></div> {{! light green solid }}
                  <div class="allocation-current">
                    <div class="allocation-current-warning" {{bind-attr style="utilizationBurstStyle"}}></div> {{! orange }}
                    <div class="allocation-current-success" {{bind-attr style="utilizationCurrentWidth"}}></div> {{! green }}
                  </div>
                </div>
                {{na utilization.scu_total}}
              {{/view}}
            {{else}}
              {{na utilization.scu_total}}
            {{/if}}
          </div>
        {{/if}}
      </div></td>
      {{!-- <td><div class="cell-container">{{na utilization.ipc}}</div></td> --}}
      <td><div class="cell-container">{{readableSize utilization.memory}}</div></td>
      <td><div class="cell-container">
        <div class="contention">
          {{#if contentionValueExists}}
            {{#view App.TooltipView titleBinding="contentionMessage" barBinding="contentionWidth"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bind-attr style="contentionWidth"}} >
                  <div class="contention-gradient"></div>
                </div>
              </div>
              {{na contention.llc.system.value}}
            {{/view}}
          {{else}}
            <span class="not-applicable">n/a</span>
          {{/if}}
        </div>
      </div></td>
      <td>
        <div class="cell-container overflow-visible">
          {{#if isOn}}
            <div class="btn-group">
              <a class="btn btn-mini disabled"><i class="icon-off"></i> Power Off</a>
              <a data-toggle="dropdown" {{bind-attr class=":btn :dropdown-toggle :btn-mini isActionPending:disabled"}}>
                {{#unless isActionPending}}
                  <span class="caret"></span>
                {{else}}
                  <i class="icon-spinner icon-spin"></i>
                {{/unless}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="disabled"><i class="icon-refresh"></i> Restart</a></li>
                {{#if App.mtWilson.isInstalled}}
                  <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
                {{/if}}
              </ul>
            </div>
          {{else}}
            <div class="btn-group">
              <a class="btn disabled btn-mini"><i class="icon-bolt"></i> Power On</a>
              {{#if App.mtWilson.isInstalled}}
                <a data-toggle="dropdown" {{bind-attr class=":btn :dropdown-toggle :btn-mini isActionPending:disabled"}}>
                  {{#unless isActionPending}}
                    <span class="caret"></span>
                  {{else}}
                    <i class="icon-spinner icon-spin"></i>
                  {{/unless}}
                </a>
                <ul class="dropdown-menu">
                  <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
                </ul>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </td>
      <td class="column-small"><div class="cell-container"><a class="btn btn-mini toggle-details" {{action "expand" this}}><i {{bind-attr class="isExpanded:icon-minus:icon-plus"}}></i></a></div></td>
    </tr>
  </tbody>
</table>
