<table>
  <tbody>
    <tr {{bindAttr class="isSelected isExpanded"}}>
      <td class="column-small">
        {{view Ember.Checkbox checkedBinding="isSelected"}}
      </td>
      <td class="column-small">
        {{#if status.isUnhealthy}}
          {{#view App.TooltipView titleBinding="status.healthMessage"}}
            {{healthIcon status.health}}
          {{/view}}
        {{else}}
          {{#view App.TooltipView titleBinding="status.operationalMessage"}}
            {{operationalIcon status.operational}}
          {{/view}}
        {{/if}}
      </td>
      <td class="column-small">
        {{#view App.TooltipView titleBinding="status.trustMessage"}}
          {{#if status.isTrustUnknown}}
            <i class="icon-large icon-question-sign unknown"></i>
          {{else}}
            <i {{bindAttr class=":icon-large status.isTrusted:icon-lock:icon-unlock status.isTrusted:trusted:untrusted"}}></i>
          {{/if}}
        {{/view}}
      </td>
      <td class="column-small">
        {{#view App.TooltipView titleBinding="status.slaMessage"}}
          <i {{bindAttr class=":icon-large status.slaViolated:icon-remove:icon-trophy status.slaViolated:error status.slaNotViolated:success status.slaUnknown:inset"}}></i>
        {{/view}}
      </td>
      <td class="column-small">
        {{#view App.TooltipView titleBinding="noisyMessage"}}
          {{#if isAggressor}}
            <i {{bindAttr class=":icon-bullhorn :error"}}></i>
          {{/if}}
          {{#if isVictim}}
            <i {{bindAttr class=":icon-headphones :warning"}}></i>
          {{/if}}
        {{/view}}
      </td>
      <td><a {{action "expand" this}}>{{name}}</a></td>
      <td>
        {{#if node.samControlled}}
          {{#link-to "nodesNode" node}}{{nodeName}}{{/link-to}}
        {{else}}
          {{nodeName}}
        {{/if}}
      </td>
      <td>
        <div class="cpu-typography">
          <div class="cores-and-allocation">
            <div class="cores">{{na capabilities.cores}} vCPUs</div>
            <div class="allocation">&times; {{na suRange}} SU</div>
          </div>
          <div class="total-allocation">
            <span class="operator">=</span>
            {{suTotalRange}} SU
          </div>
        </div>
      </td>
      <td>
        <div class="allocation">
          {{#if suFloor}}
            {{#view App.TooltipView titleBinding="allocationMessage"}}
              <div {{bindAttr class=":allocation-bar isRange"}}>
                <div class="allocation-range"></div> {{! light orange dashed }}
                <div class="allocation-min" {{bindAttr style="allocationMinWidth"}}></div> {{! light green solid }}
                <div class="allocation-current">
                  <div class="allocation-current-warning" {{bindAttr style="allocationCurrentWidth"}}></div> {{! orange }}
                  <div class="allocation-current-success" {{bindAttr style="allocationSuccessWidth"}}></div> {{! green }}
                </div>
              </div>
              {{na utilization.gips_current}}
            {{/view}}
          {{else}}
            {{na utilization.gips_current}}
          {{/if}}
        </div>
      </td>
      <td>{{na utilization.ipc}}</td>
      <td>{{readableSize utilization.memory}}</td>
      <td>
        <div class="contention">
          {{#if contentionValueExists}}
            {{#view App.TooltipView titleBinding="contentionMessage" barBinding="contentionWidth"}}
              <div class="contention-bar">
                <div class="contention-bar-width" {{bindAttr style="contentionWidth"}} >
                  <div class="contention-gradient"></div>
                </div>
              </div>
              {{na contention.system.llc.value}}
            {{/view}}
          {{else}}
            <span class="not-applicable">n/a</span>
          {{/if}}
        </div>
      </td>
      <td>
        {{#if isOn}}
          <div class="btn-group">
            <button class="btn disabled btn-mini"><i class="icon-off"></i> Power Off</button>
            <button data-toggle="dropdown" class="btn dropdown-toggle btn-mini"><span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a class="disabled"><i class="icon-refresh"></i> Restart</a></li>
              {{#if App.mtWilson.isInstalled}}
                <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
              {{/if}}
            </ul>
          </div>
        {{else}}
          <div class="btn-group">
            <button class="btn disabled btn-mini"><i class="icon-bolt"></i> Power On</button>
            {{#if App.mtWilson.isInstalled}}
              <button data-toggle="dropdown" class="btn dropdown-toggle  btn-mini"><span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a {{action "exportTrustReport" this}}><i class="icon-external-link"></i> Export Trust Report</a></li>
              </ul>
            {{/if}}
          </div>
        {{/if}}
      </td>
      <td class="column-small"><a class="btn btn-mini toggle-details" {{action "expand" this}}><i {{bindAttr class="isExpanded:icon-minus:icon-plus"}}></i></a></td>
    </tr>
  </tbody>
</table>
