<div class="modal hide fade" id="modal" data-backdrop="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>VM Trust Report ({{view.content.vmTrustReport.vmName}}) </h3>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <tr>
        <th class="column-small">Trust Status</th>
        <th>Message</th>
        <th>Node</th>
        <th>Timestamp</th>
      </tr>
      {{#each attestation in view.content.vmTrustReport.attestations}}
        <tr>
          <td class="column-small">
              <i {{bindAttr class=":icon-large attestation.node.trust_status:icon-lock:icon-unlock attestation.node.trust_status:trusted:untrusted"}}></i>
          </td>
          <td>{{attestation.node.report_message}}</td>
          <td>{{attestation.node.node_name}} </td>
          <td>{{timestamp attestation.node.attestation_time}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" {{action modalHide target="view"}}> Close </button>
    <button class="btn btn-primary" {{action exportTrustReport view.content target="controller"}}> Export as PDF </button>
  </div>
</div>
