<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Create a Flavor </h3>
</div>
<form id="flavorsForm" {{action "createFlavor" on="submit"}}>
  <div class="modal-body modal-tall">
    <p>Create a new flavor and optionally attach an <abbr title="Service-Level Agreement">SLA</abbr>.</p>
    <div class="form-horizontal well-clean shadow-lifted">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span5 separator-right">
            <div class="control-group">
              <label class="control-label">Flavor name:</label>
              <div class="controls">
                {{input class="input-medium" value=model.name autofocus="autofocus"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">vCPUs:</label>
              <div class="controls">
                {{input class="input-small" value=model.vcpus}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">RAM:</label>
              <div class="controls">
                {{input class="input-small" value=model.memory}}
                MiB
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Root Disk:</label>
              <div class="controls">
                {{input class="input-small" value=model.root}}
                GiB
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Ephemeral Disk:</label>
              <div class="controls">
                {{input class="input-small" value=model.ephemeral}}
                GiB
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Swap Disk:</label>
              <div class="controls">
                {{input class="input-small" value=model.swap}}
                MiB
              </div>
            </div>
          </div>
          <div class="span7 separate">
            <div class="nav control-group btn-group">
              <a {{bind-attr class=":btn hasNoSla:active"}} {{action "selectSlaType" undefined}}>No SLA</a>
              <a {{bind-attr class=":btn hasExistingSla:active"}} {{action "selectSlaType" "existing"}}>Existing SLA</a>
              <a {{bind-attr class=":btn hasNewSla:active"}} {{action "selectSlaType" "new"}}>New SLA</a>
            </div>
            {{#if hasNoSla}}
              <div class="alert">No SLA will be attached to this flavor.</div>
            {{/if}}
            {{#if hasExistingSla}}
              <div class="control-group">
                <label class="inline">SLA:</label>
                {{view "select" viewName="select"
                  contentBinding="userSlas"
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  selectionBinding="model.sla"
                }}
              </div>
              SLOs in "{{model.sla.name}}":
              <ol>
                {{#each slo in model.sla.slos}}
                  <li>{{slo.description}}</li>
                {{/each}}
              </ol>
            {{/if}}
            {{#if hasNewSla}}
              <p>
                <label class="inline">New SLA name:</label>
                {{input value=model.sla.name autofocus="autofocus"}}
                {{#if isAddSloAvailable}}
                  <a class="btn pull-right" {{action "addSlo"}}>
                    <i class="icon-plus-sign"></i> Add SLO
                  </a>
                {{else}}
                  <a {{bind-attr class="isAddSloAvailable::disabled :btn :pull-right"}}>
                    <i class="icon-plus-sign"></i> Add SLO
                  </a>
                {{/if}}
              </p>

              {{#each slo in model.sla.slos itemController="slo"}}
                <div class="slo-row separator-top">
                  {{view "select" viewName="select" class="input-medium"
                    content=slo.possibleSloTemplates
                    optionValuePath="content.id"
                    optionLabelPath="content.readableSloType"
                    selection=sloTemplate
                    prompt="Select SLO:"
                    disabled=isSelected
                  }}
                  {{#if sloTemplate}}
                    {{#if allowedOperatorsGreaterThanOne}}
                      {{view "select" viewName="select" class="input-small"
                        contentBinding="slo.sloTemplate.allowedOperators"
                        value=slo.operator
                      }}
                    {{else}}
                      {{slo.sloTemplate.allowedOperators}}
                    {{/if}}
                  {{/if}}
                  {{#if isBoolean}}
                    <label style="display:inline; margin-left:10px;">
                      {{view "radio-button" name="value" selection=value value="1"}}
                      True
                    </label>
                    <label style="display:inline; margin-left:10px;">
                      {{view "radio-button" name="value" selection=value value="0"}}
                      False
                    </label>
                  {{/if}}
                  {{#if isInteger}}
                    {{input class="input-small" value=value}}
                  {{/if}}
                  {{#if isString}}
                    {{input class="input-medium" value=value}}
                  {{/if}}
                  {{#if isRange}}
                    {{input class="input-tiny" value=rangeMin}} to
                    {{input class="input-tiny" value=rangeMax}}
                  {{/if}}

                  {{slo.sloTemplate.unit}}

                  {{#if slo.sloInfoExists}}
                    {{#view "popover-handle" placement="right" handleTemplateName="sla-popover-alt"}}
                      <span {{bind-attr class="view.customHandleId :help-tip"}}>
                        <i class="icon-question-sign"></i>
                      </span>
                      {{view "container" viewName="popover-container" classNames="inline-block"}}
                    {{/view}}
                  {{/if}}

                  <a class="btn pull-right" {{action "deleteSlo" slo}}><i class="icon-remove-sign"></i></a>
                  <small class="block">{{slo.sloTemplate.description}}</small>
                </div>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    {{#if isFlavorCreating}}
      <a class="btn btn-primary" disabled>Save</a>
    {{else}}
      <input class="btn btn-primary" type="submit" value="Save">
    {{/if}}
  </div>
</form>
