<div id="mles" class="container-fluid">
  <div class="row-fluid">
    <div class="content">
      <table class="table table-bordered">
        <thead>
          <tr>
            {{#each columns}}
              {{partial columnHeader}}
            {{/each}}
            <th class="column-small">
              <a {{action refresh}} class="btn btn-mini"><i {{bindAttr class=":icon-refresh model.isUpdating:icon-spin model.isUpdating:disabled"}}></i></a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each mle in controller}}
             <tr {{bindAttr class="mle.isSelected mle.isExpanded"}}>
              <td><a {{action "expand" mle}}>{{na mle.name}}</a></td>
              <td>{{na mle.mleType}}</td>
              <td>{{na mle.oemname}}</td>
              <td>{{na mle.attestationType}}</td>
              <td>{{na mle.osname}}</td>
              <td>{{na mle.version}}</td>
              <td>{{na mle.osversion}}</td>
              <td class="column-medium">
                <button  {{action "deleteMle" mle}} class="btn btn-mini"><i class="icon-remove"></i> Delete MLE</button>
              </td>
              <td class="column-small">
                <a class="btn btn-mini toggle-details" {{action "expand" mle}}>
                  <i {{bindAttr class="mle.isExpanded:icon-minus:icon-plus"}}></i>
                </a>
              </td>
            </tr>
            <tr class="expandable-row">
              <td colspan="100%">
                <div class="details">
                  <ul class="nav nav-tabs">
                    <li class="active"><a onclick="App.selectTab(event)">Nodes</a></li>
                    <li><a onclick="App.selectTab(event)">Manifest</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active nodes">
                      {{#if mle.trustNode}}
                        <table class="table table-bordered">
                          <tr>
                            <th>Hostname</th>
                          </tr>
                          {{#each node in mle.trustNode}}
                            <tr>
                              <td>{{#link-to "nodesNode" node.node}}{{node.node.name}}{{/link-to}}</td>
                            </tr>
                          {{/each}}
                        </table>
                      {{else}}
                        {{#unless model.isUpdating}}
                          <div class="alert alert-info">No trust nodes found.</div>
                        {{/unless}}
                      {{/if}}
                    </div>
                    <div class="tab-pane manifest">
                      {{#if mle.mleManifests}}
                        <table class="table table-bordered">
                          <tr>
                            <th>PCR</th>
                            <th>Value</th>
                          </tr>
                          {{#each pcr in mle.mleManifests}}
                            <tr>
                              <td>{{na pcr.name}}</td>
                              <td>{{na pcr.value}}</td>
                            </tr>
                          {{/each}}
                        </table>
                      {{else}}
                        {{#unless model.isUpdating}}
                          <div class="alert alert-info">No manifests found.</div>
                        {{/unless}}
                      {{/if}}
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="100%">
                {{#unless model.isUpdating}}
                  <div class="alert alert-info">No MLEs found.</div>
                {{/unless}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
