<div id="whitelist" class="container-fluid">
  <div class="row-fluid">
    <div class="content">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th {{bindAttr class=":sortable isColumn1Sorted:sorted sortAscending"}}>
              <a {{action "sortModel" "mleType"}}>MLE Type</a>
            </th>
            <th {{bindAttr class=":sortable isColumn2Sorted:sorted sortAscending"}}>
              <a {{action "sortModel" "name"}}>Name</a>
            </th>
            <th {{bindAttr class=":sortable isColumn3Sorted:sorted sortAscending"}}>
              <a {{action "sortModel" "oemname"}}>
                <acronym title="Original Equipment Manufacturer">OEM</acronym> Name
              </a>
            </th>
            <th {{bindAttr class=":sortable isColumn4Sorted:sorted sortAscending"}}>
              <a {{action "sortModel" "attestationType"}}>Attestation Type</a>
            </th>
            <th {{bindAttr class=":sortable isColumn5Sorted:sorted sortAscending"}}>
              <a {{action "sortModel" "osname"}}>
                <acronym title="Operating System">OS</acronym> Name
              </a>
            </th>
            <th {{bindAttr class=":sortable isColumn6Sorted:sorted sortAscending"}}><a {{action "sortModel" "version"}}>Version</a></th>
            <th {{bindAttr class=":sortable isColumn7Sorted:sorted sortAscending"}}>
              <a {{action "sortModel" "osversion"}}>
                <acronym title="Operating System">OS</acronym> Version
              </a>
            </th>
            <th class="column-medium">Actions</th>
            <th class="column-small">
              {{#if content.isUpdating}}
                <i class="icon-spinner icon-spin"></i>
              {{/if}}
            </th>
          </tr>
        </thead>
        <tbody>
          {{#if model}}
            {{#each mle in controller}}
               <tr {{bindAttr class="mle.isSelected mle.isExpanded"}}>
                <td>{{na mle.mleType}}</td>
                <td>{{na mle.name}}</td>
                <td>{{na mle.oemname}}</td>
                <td>{{na mle.attestationType}}</td>
                <td>{{na mle.osname}}</td>
                <td>{{na mle.version}}</td>
                <td>{{na mle.osversion}}</td>
                <td class="column-medium">
                  <button  {{action "deleteMle" mle}} class="btn btn-mini"><i class="icon-remove"></i> Delete Fingerprint</button>
                </td>
                <td class="column-small">
                  <a class="btn btn-mini toggle-details" {{action "expand" mle}}>
                    <i {{bindAttr class="mle.isActive:icon-minus:icon-plus"}}></i>
                  </a>
                </td>
              </tr>
              <tr class="expandable-row">
                <td colspan="100%">
                  <div class="details">
                    <ul class="nav nav-tabs">
                      <li class="active"><a onclick="App.selectTab(event)">Nodes</a></li>
                      <li><a onclick="App.selectTab(event)">Manifest</a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active nodes">
                        {{#if mle.trustNode}}
                          <table class="table table-bordered">
                            <tr>
                              <th>Hostname</th>
                            </tr>
                            {{#each node in mle.trustNode}}
                              <tr>
                                <td>{{#link-to "nodesNode" node.node}}{{node.node.name}}{{/link-to}}</td>
                              </tr>
                            {{/each}}
                          </table>
                        {{else}}
                          {{#unless content.isUpdating}}
                            <div class="alert alert-info">No trust nodes found.</div>
                          {{/unless}}
                        {{/if}}
                      </div>                      
                      <div class="tab-pane manifest">
                        {{#if mle.mleManifests}}
                          <table class="table table-bordered">
                            <tr>
                              <th>PCR</th>
                              <th>Value</th>
                            </tr>
                            {{#each pcr in mle.mleManifests}}
                              <tr>
                                <td>{{na pcr.name}}</td>
                                <td>{{na pcr.value}}</td>
                              </tr>
                            {{/each}}
                          </table>
                        {{else}}
                          {{#unless content.isUpdating}}
                            <div class="alert alert-info">No manifests found.</div>
                          {{/unless}}
                        {{/if}}
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="100%">
                {{#unless content.isUpdating}}
                  <div class="alert alert-info">No MLEs found.</div>
                {{/unless}}
              </td>
            </tr>
          {{/if}}
        </tbody>
      </table>
    </div>
  </div>
</div>
