<div class="progress-bar-adjacent">
  {{#each bar in bars}}
    <div {{bind-attr style=bar.containerStyles class=":progress progressBarColor"}}>
      <div {{bind-attr style=bar.barStyles class=":bar"}}>
        <span {{bind-attr style=currentValueStyles}}>
          {{#view App.TooltipView titleBinding="currentValueToolTip" tagName="span" }}
            {{current}}
          {{/view}}
        </span>
      </div>
      <span class="bar-label">
        {{label}}
      </span>
    </div>
  {{/each}}
</div>