<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Edit Flavor</h3>
</div>
<form id="flavorsForm" {{action "editFlavor" on="submit"}}>
  <div class="modal-body modal-tall">
    <p>Edit flavor "{{model.name}}" and attached <abbr title="Service-Level Agreement">SLA</abbr>.</p>
    <div class="form-horizontal well-clean shadow-lifted">
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span5 separator-right">
            <div class="control-group">
              <label class="control-label">Flavor name:</label>
              <div class="controls">
                {{input class="input-medium" value=model.name autofocus="autofocus"}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">vCPUs:</label>
              <div class="controls">
                {{input class="input-small" value=model.vcpus}}
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">RAM:</label>
              <div class="controls">
                {{input class="input-small" value=model.memory}}
                MiB
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Root Disk:</label>
              <div class="controls">
                {{input class="input-small" value=model.root}}
                GiB
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Ephemeral Disk:</label>
              <div class="controls">
                {{input class="input-small" value=model.ephemeral}}
                GiB
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Swap Disk:</label>
              <div class="controls">
                {{input class="input-small" value=model.swap}}
                MiB
              </div>
            </div>
          </div>
          <div class="span7 separate">
            <div class="nav control-group btn-group">
              <a {{bind-attr class=":btn hasNoSla:active"}} {{action "selectSlaType" undefined}}>No SLA</a>
              <a {{bind-attr class=":btn hasExistingSla:active"}} {{action "selectSlaType" "existing"}}>Existing SLA</a>
              <a {{bind-attr class=":btn hasNewSla:active"}} {{action "selectSlaType" "new"}}>New SLA</a>
            </div>
            {{#if hasNoSla}}
              <div class="alert">No SLA will be attached to this flavor.</div>
            {{/if}}
            {{#if hasExistingSla}}
              <div class="control-group">
                <label class="inline">SLA:</label>
                {{view Ember.Select viewName="select"
                  content=slas
                  optionValuePath="content.id"
                  optionLabelPath="content.name"
                  selection=model.sla
                }}
              </div>
              SLOs in "{{model.sla.name}}":
              <ol>
                {{#each slo in model.sla.slos}}
                  <li>{{slo.description}}</li>
                {{/each}}
              </ol>
            {{/if}}
            {{#if hasNewSla}}
              <p>
                <label class="inline">New SLA name:</label>
                {{input class="input-medium" value=model.sla.name autofocus="autofocus"}}
                {{#if isAddSloAvailable}}
                  <a class="btn pull-right" {{action "addSlo"}}>
                    <i class="icon-plus-sign"></i> Add SLO
                  </a>
                {{else}}
                  <a {{bind-attr class="isAddSloAvailable::disabled :btn :pull-right"}}>
                    <i class="icon-plus-sign"></i> Add SLO
                  </a>
                {{/if}}
              </p>
              {{#each slo in model.sla.slos itemController="slo"}}
                <p class="slo-row separator-top">
                  {{view Ember.Select viewName="select" class="input-medium"
                    contentBinding="slo.sloTemplates"
                    optionValuePath="content.id"
                    optionLabelPath="content.readableSloType"
                    selection=sloTemplate
                    prompt="Select Template"
                  }}
                  {{#if sloTemplate}}
                    {{#if allowedOperatorsGreaterThanOne}}
                      {{view Ember.Select viewName="select" class="input-small"
                        contentBinding="slo.sloTemplate.allowedOperators"
                        valueBinding="slo.operator"
                      }}
                    {{else}}
                      {{slo.sloTemplate.allowedOperators}}
                    {{/if}}
                  {{/if}}

                  {{#if isRange}}
                    {{input class="input-tiny" value=rangeMin}} to
                    {{input class="input-tiny" value=rangeMax}}
                  {{/if}}

                  {{#if isInteger}}

                    {{input class="input-small" value=value}}

                  {{/if}}

                  {{#if isBoolean}}

                    <label style="display:inline; margin-left:10px">
                      {{view "radio-button" name="value" selection=value value="1"}}
                      True
                    </label>

                    <label style=" display:inline; margin-left:10px;">
                      {{view "radio-button" name="value" selection=value value="0"}}
                      False
                    </label>

                  {{/if}}

                  {{slo.sloTemplate.unit}}
                  <a class="btn pull-right" {{action "deleteSlo" slo}}><i class="icon-remove-sign"></i></a>
                  <small class="block">{{slo.sloTemplate.description}}</small>
                </p>
              {{/each}}
            {{/if}}

            {{#if bucketSloCountGreaterThanOne}}
              <span class="table-flat-header">
                {{#if isComputeSloTable}} Max SCUs per vCPU {{/if}}
               {{#if isComputeVmSloTable}} Max SCUs per VM {{/if}}
                {{#if isExclusiveCoresSloTable}} Max Exclusive Cores per VM {{/if}}
              </span>
              <span class="help-tip">
                <span class="hint--top" data-hint="The below table tells you the state of the current cloud and the&#10; number of SCUs/cores that are available for nodes in the cloud.&#10; All nodes in the cloud meets the minimum value, half of the nodes&#10; meet the median value, and X meet the maximum value.">
                  <i class="icon-question-sign"></i>
                </span>
              </span>
              <div class="form-horizontal well-clean shadow-lifted">
                {{#if isComputeSloTable}}
                  <table class="table">
                    <thead>
                      <th> </th>
                      <th>SCUs</th>
                      <th># of Nodes</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td> Maximum </td>
                        <td> {{sloVcpuTableMaximumScus}} </td>
                        <td> {{sloVcpuTableNumberOfNodesMaximumScus}} </td>
                      </tr>
                      <tr>
                        <td> Median </td>
                        <td> {{sloVcpuTableMedianScus}} </td>
                        <td> {{sloVcpuTableNumberOfNodesMedianScus}} </td>
                      </tr>
                      <tr>
                        <td> Minimum </td>
                        <td> {{sloVcpuTableMinimumScus}} </td>
                        <td> {{sloVcpuTableNumberOfNodesMinimumScus}} </td>
                      </tr>
                    </tbody>
                  </table>
                {{/if}}
                {{#if isComputeVmSloTable}}
                  <table class="table">
                    <thead>
                      <th> </th>
                      <th>SCUs</th>
                      <th># of Nodes</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td> Maximum </td>
                        <td> {{to-fixed sloVmTableMaximumScus}} </td>
                        <td> {{to-fixed sloVmTableNumberOfNodesMaximumScus}} </td>
                      </tr>
                      <tr>
                        <td> Median </td>
                        <td> {{to-fixed sloVmTableMedianScus}} </td>
                        <td> {{to-fixed sloVmTableNumberOfNodesMedianScus}} </td>
                      </tr>
                      <tr>
                        <td> Minimum </td>
                        <td> {{to-fixed sloVmTableMinimumScus}} </td>
                        <td> {{to-fixed sloVmTableNumberOfNodesMinimumScus}} </td>
                      </tr>
                    </tbody>
                  </table>
                {{/if}}
                {{#if isExclusiveCoresSloTable}}
                  <table class="table">
                    <thead>
                      <th> </th>
                      <th>Exclusive Cores</th>
                      <th># of Nodes</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td> Maximum </td>
                        <td> {{to-fixed sloExclusiveCoresTableMaximum}} </td>
                        <td> {{to-fixed sloExclusiveCoresTableNumberOfNodesMaximum}} </td>
                      </tr>
                      <tr>
                        <td> Median </td>
                        <td> {{to-fixed sloExclusiveCoresTableMedian}} </td>
                        <td> {{to-fixed sloExclusiveCoresTableNumberOfNodesMedian}} </td>
                      </tr>
                      <tr>
                        <td> Minimum </td>
                        <td> {{to-fixed sloExclusiveCoresTableMinimum}} </td>
                        <td> {{to-fixed sloExclusiveCoresTableNumberOfNodesMinimum}} </td>
                      </tr>
                    </tbody>
                  </table>
                {{/if}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    {{#if isFlavorCreating}}
      <a class="btn btn-primary" disabled>Save</a>
    {{else}}
      <input class="btn btn-primary" type="submit" value="Save">
    {{/if}}
  </div>
</form>
