<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3>Create an SLA</h3>
</div>
<form id="slasForm" {{action "createSla" on="submit"}}>
  <div class="modal-body modal-tall">
    <p>Create a new {{slaType}} <abbr title="Service-Level Agreement">SLA</abbr>.</p>
    <div class="row-fluid">
      <div class="span6">
        {{#if isApplicationSla}}
          <label>Enabled: {{input type="checkbox" checked=enabled}}</label>
        {{/if}}
      </div>
      <div class="span6 align-right">
        SLA Type:
        {{view Ember.Select class="input-medium"
          contentBinding="slaTypes"
          valueBinding="slaType"
          prompt="Select SLA Type:"
          optionValuePath="content.value"
          optionLabelPath="content.label"
        }}
        <div class="hide">{{slaTypes}}</div>
      </div>
    </div>
    <div class="hide">{{slaTypes}}</div>
    <div class="form-horizontal well-clean shadow-lifted">
      <p>
        <label class="inline">SLA name:</label>
        {{view Ember.TextField valueBinding="model.name" autofocus="autofocus"}}
        {{#if isAddSloAvailable}}
          <a class="btn pull-right" {{action "addSlo"}}>
            <i class="icon-plus-sign"></i> Add SLO
          </a>
        {{else}}
          <a {{bind-attr class="isAddSloAvailable::disabled :btn :pull-right"}}>
            <i class="icon-plus-sign"></i> Add SLO
          </a>
        {{/if}}
      </p>



      {{#each slo in slos}}
        <div class="slo-row separator-top">
          {{view Ember.Select viewName="select" class="input-medium"
            content=slo.possibleSloTemplates
            optionValuePath="content.id"
            optionLabelPath="content.readableSloType"
            selection=sloTemplate
            prompt="Select SLO:"
            disabled=isSelected
          }}
          {{#if allowedOperatorsGreaterThanOne}}
            {{view Ember.Select viewName="select" class="input-small"
              contentBinding="slo.sloTemplate.allowedOperators"
              valueBinding="slo.operator"
            }}
          {{else}}
            {{slo.sloTemplate.allowedOperators}}
          {{/if}}

          {{#if isBoolean}}
            <label style="display:inline; margin-left:10px;">
              {{view Ember.RadioButton name="value" selection=value value="1"}}
              True
            </label>
            <label style="display:inline; margin-left:10px;">
              {{view Ember.RadioButton name="value" selection=value value="0"}}
              False
            </label>
          {{/if}}
          {{#if isInteger}}
            {{view Ember.TextField class="input-small" value=value}}
          {{/if}}
          {{#if isString}}
            {{view Ember.TextField class="input-medium" value=value}}
          {{/if}}
          {{#if isRange}}
            {{view Ember.TextField class="input-tiny" value=rangeMin}} to
            {{view Ember.TextField class="input-tiny" value=rangeMax}}
          {{/if}}

          {{slo.sloTemplate.unit}}

          {{#if slo.sloInfoExists}}
            {{#view App.PopoverHandleView placement="right" handleTemplateName="sla-popover"}}
              <span {{bind-attr class="view.customHandleId :help-tip"}}>
                <i class="icon-question-sign"></i>
              </span>
              {{view Ember.ContainerView viewName="popover-container" classNames="inline-block"}}
            {{/view}}
          {{/if}}

          <a class="btn pull-right" {{action "deleteSlo" slo}}><i class="icon-remove-sign"></i></a>
          <small class="block">{{slo.sloTemplate.description}}</small>
        </div>
      {{/each}}
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn" data-dismiss="modal">Cancel</a>
    {{#if isSlaCreating}}
      <a class="btn btn-primary" disabled>Save</a>
    {{else}}
      <input class="btn btn-primary" type="submit" value="Save">
    {{/if}}
  </div>
</form>
