<div id="log">
  <div class="header">
    <h3> Log Settings</h3>
  </div>
  <form class="form-horizontal well-clean shadow-lifted">
    <section id="log-informational-values">
      <legend>Log Details</legend>
      <dl class="dl-horizontal">
        <dt>Actual Size:</dt>
        <dd>{{readableMegabytes actualSize}}</dd>
        <dt>Threshold:</dt>
        <dd>{{readableMegabytes thresholdSize}}</dd>
      </dl>
    </section>
    <section id="reset-log-data">
      <legend>Reset Log Data</legend>
      <div class="control-group">
        <label class="control-label">Delete all log data:</label>
        <div class="controls">
          <input type="button" value="Delete Log Data" class="btn btn-danger" {{action deleteLogs}}>
          <i class="loading hide"></i>
        </div>
      </div>
    </section>
    <section id="settable-values">
      <legend>Log Settings</legend>
      <div class="control-group">
        <label class="control-label">Maximum Days:</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="App.settingsLog.maximumDays" class="input-small"}} days
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Configured Size:</label>
        <div class="controls">
          {{view Ember.TextField valueBinding="App.settingsLog.configuredSize" class="input-small"}} MiB
        </div>
      </div>
      <div class="form-actions">
        <input type="button" value="Save" class="btn btn-primary" {{action update}}>
        <i class="loading hide"></i>
      </div>
    </section>
  </form>
</div>
