<section id="mailserver">
  {{#if message}}
   <div id="mailserver-notification" class="notification">
     <div class="alert">
       <button type="button" class="close" {{action "removeNotification"}}>&times;</button>
        {{message}}
     </div>
   </div>
  {{/if}}
  <h3>Configure Mail Server</h3>
  <form class="form-horizontal well-clean shadow-lifted" autocomplete="off">
    <div class="control-group">
      <label class="control-label">Hostname</label>
      <div class="controls">
        {{input value=hostname id="mailserver-hostname" placeholder="Hostname or IP Address" autofocusBinding="standalone"}}
        {{#if errors.hostname}}
          <span class="text-error">{{errors.hostname}}</span>
        {{/if}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Port</label>
      <div class="controls">
        {{input value=port id="mailserver-port" placeholder="Port"}}
        {{#if errors.port}}
          <span class="text-error">{{errors.port}}</span>
        {{/if}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        {{input value=username id="mailserver-username" placeholder="Username"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        {{input value=password id="mailserver-password" placeholder="Password" type="password"}}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Email
        {{#view "tooltip" title="Recipient's Email" style="width:10%"}}
          <a> <i class="icon-question-sign"></i> </a>
        {{/view}}
      </label>

      <div class="controls">
        {{input value=sender_email placeholder="Email Address"}}
        {{#if errors.sender_email}}
          <span class="text-error">{{errors.sender_email}}</span>
        {{/if}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        {{#unless isTestEmailActionPending}}
          <button class="btn btn-primary" type="button" {{action "testEmail"}}>Send Test Email</button>
          {{#view "tooltip" style="width:10%" title="This will send a test email to recipient in the Email field above"}}
            <a> <i class="icon-question-sign"></i> </a>
          {{/view}}
        {{else}}
          <a class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Sending Test Email...</a>
        {{/unless}}
      </div>
    </div>
    {{#if standalone}}
      <div class="form-actions">
        {{#unless isActionPending}}
          <a class="btn" {{action "cancel"}}>Cancel</a>
          <button type="submit" class="btn btn-primary" {{action "save"}}>Save</button>
        {{else}}
          <a class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Saving...</a>
        {{/unless}}
      </div>
    {{/if}}
  </form>
</section>
