<section id="mailserver">
  {{#if message}}
   <div id="mailserver-notification" class="notification">
     <div class="alert">
       <button type="button" class="close" {{action removeNotification}}>&times;</button>
        {{message}}
     </div>
   </div>
  {{/if}}
  <h3>Configure Mail Server</h3>
    <form class="form-horizontal well-clean shadow-lifted">
    <div class="control-group">
      <label class="control-label">Hostname</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="hostname" id="mailserver-hostname" placeholder="Hostname or IP Address" autofocusBinding="standalone"}}
      </div>
    </div>
      
    <div class="control-group">
      <label class="control-label">Port</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="port" id="mailserver-port" placeholder="Port"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="username" id="mailserver-username" placeholder="Username"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Password</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="password" id="mailserver-password" placeholder="Password" type="password"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Email</label>
      <div class="controls">
        {{view Ember.TextField valueBinding="sender_email" id="mailserver-sender_email" placeholder="Email (From address)"}}
      </div>
    </div>

    <div class="control-group">
        <button class="btn btn-primary" type="button" {{action test_email}}>Send Test Email</button>
    </div>
    
    {{#if standalone}}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save" {{action save}}>
            <button class="btn btn-danger" type="button" {{action reset}}>Cancel</button>
        </div>
    {{/if}}
    
    </form>
    
</section>