<section id="upload">
  <h3>Configuration Overrides</h3>
    {{#if configurationValuesExist}}
      <form id="overridesForm" class="form-horizontal well-clean shadow-lifted">
        {{#each config in model.configurationValues itemController="override"}}
          <div class="control-group">
            <label class="control-label">{{config.model.name}}</label>
            <div class="controls">
              {{input type="text" value=config.model.value disabled=config.isDisabled size="50" placeholder=placeholder}}
              <label class="checkbox" style="vertical-align:middle; display:inline-block;">
                {{input type="checkbox" value=config.model.value name="isAdmin" checked=config.isDefault}}
                Use Default
              </label>
            </div>
          </div>
        {{/each}}
        <div class="form-actions">
          {{#unless isActionPending}}
            <a class="btn" {{action "cancel"}}>Cancel</a>
            <a class="btn btn-primary" {{action "updateOverrides"}}>Save</a>
          {{else}}
            <a class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Saving...</a>
          {{/unless}}
        </div>
      </form>
    {{else}}
      No configuration override values were found.
    {{/if}}
  </div>
</section>
