<section id="upload">
  <h3>Upload Configuration Files</h3>
  <div class="well-clean shadow-lifted">
    <form id="novaForm" {{bind-attr class=":form-horizontal showButtons"}} enctype="multipart/form-data">
      <input type="hidden" name="app" value="sam">
      <legend>Nova</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Upload <code>nova.conf</code> (required)</label>
        <div class="controls">
          <div {{bind-attr class=":fileupload novaExists:fileupload-exists:fileupload-new"}} data-provides="fileupload" data-name="novaFile">
            <div class="input-append">
              <div class="uneditable-input span3"><i {{bind-attr class="novaSuccess:icon-ok-circle:icon-file"}}></i> <span class="fileupload-preview">nova.conf</span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="novaFile"></span>
            </div>
          </div>
        </div>
      </div>
      <p class="instructions">Please upload your OpenStack Nova configuration file (<code>nova.conf</code>) from one of your compute nodes that SAA will be managing. This file can be found at the file path <code>/etc/nova/nova.conf</code>. <span class="text-warning"><strong>Note:</strong> Remember to update the "nova_url" value in nova.conf before uploading.</span></p>
    </form>
    <form id="openrcForm" {{bind-attr class=":form-horizontal showButtons"}} enctype="multipart/form-data">
      <input type="hidden" name="app" value="sam">
      <legend>Credentials</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Upload <code>openrc</code> (required)</label>
        <div class="controls">
          <div {{bind-attr class=":fileupload openrcExists:fileupload-exists:fileupload-new"}} data-provides="fileupload" data-name="openrcFile">
            <div class="input-append">
              <div class="uneditable-input span3"><i {{bind-attr class="openrcSuccess:icon-ok-circle:icon-file"}}></i> <span class="fileupload-preview">openrc</span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="openrcFile"></span>
            </div>
          </div>
        </div>
      </div>
      <p class="instructions">Please retrieve your Cloud Controller node's OpenStack Credentials file, <code>openrc</code> (or <code>keystonerc_admin</code> on RHEL), and upload it here. This file contains the credentials used by SAA to access the OpenStack APIs. (This file is usually kept in <code>/root/openrc</code>, <code>/root/stackrc</code>, or the home directory of the admin user.)</p>
    </form>
    <form id="quantumForm" {{bind-attr class=":form-horizontal showButtons"}} enctype="multipart/form-data">
      <input type="hidden" name="app" value="sam">
      <legend>Neutron</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">
        Upload <code>neutron.conf</code> (Havana) or <code>ovs_quantum_plugin.ini</code> (Grizzly)
        {{#if isNeutronConfigRequired}}(required){{/if}}
        </label>
        <div class="controls">
          <div {{bind-attr class=":fileupload quantumExists:fileupload-exists:fileupload-new isNeutronConfigRequired::disabled"}} data-provides="fileupload" data-name="quantumFile">
            <div class="input-append">
              <div class="uneditable-input span3"><i {{bind-attr class="quantumSuccess:icon-ok-circle:icon-file"}}></i> <span class="fileupload-preview">ovs_quantum_plugin.ini</span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="quantumFile"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Network Type:</label>
        <div class="controls">
          <label class="radio inline">{{view Ember.RadioButton name="networkType" selection=networkType.setting value="1"}} Neutron</label>
          <label class="radio inline">{{view Ember.RadioButton name="networkType" selection=networkType.setting value="2"}} Nova</label>
        </div>
      </div>
      <p class="instructions">Please upload your OpenStack Neutron network configuration file containing the database connection string. For OpenStack Grizzly, this file can be found on the OpenStack controller node at <code>/etc/quantum/plugins/openvswitch/ovsquantum_plugin.ini</code>.  For the Havana release the file to upload is <code>/etc/neutron/neutron.conf</code>. This file is not required if the network type is Nova.</p>
    </form>
    <form id="keystoneConfForm" {{bind-attr class=":form-horizontal showButtons"}} enctype="multipart/form-data">
      <input type="hidden" name="app" value="sam">
      <legend>Keystone Configuration</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Upload <code>keystone.conf</code> (required)</label>
        <div class="controls">
          <div {{bind-attr class=":fileupload keystoneConfExists:fileupload-exists:fileupload-new"}} data-provides="fileupload" data-name="keystoneFile">
            <div class="input-append">
              <div class="uneditable-input span3"><i {{bind-attr class="keystoneConfSuccess:icon-ok-circle:icon-file"}}></i> <span class="fileupload-preview">keystone.conf</span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="keystoneFile"></span>
            </div>
          </div>
        </div>
      </div>
      <p class="instructions">Please upload your Keystone configuration file (<code>keystone.conf</code>) found on the OpenStack controller. This file can be found at the file path <code>/etc/keystone/keystone.conf</code>. </p>
    </form>
    <form id="keystoneForm" {{bind-attr class=":form-horizontal showButtons"}} enctype="multipart/form-data">
      <input type="hidden" name="app" value="sam">
      <legend>Keystone Certificate</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Upload <code>cacert.pem</code></label>
        <div class="controls">
          <div {{bind-attr class=":fileupload keystoneExists:fileupload-exists:fileupload-new"}} data-provides="fileupload" data-name="KeystoneCaCertFile">
            <div class="input-append">
              <div class="uneditable-input span3"><i {{bind-attr class="keystoneSuccess:icon-ok-circle:icon-file"}}></i> <span class="fileupload-preview">cacert.pem</span>
              </div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="KeystoneCaCertFile">
              </span>
            </div>
            {{#if keystoneExists}}
              {{#unless isChangingFiles}}
                <a class="btn" {{action "deleteFiles" "keystone"}}> Delete </a>
              {{/unless}}
            {{/if}}
          </div>
        </div>
      </div>
      <p class="instructions">Please upload your OpenStack Keystone CA certificate (<code>cacert.pem</code>). This file may be found at the file path <code>/etc/keystone/ssl/certs/ca.pem</code>. <strong>This configuration upload is optional.</strong> If the OpenStack Keystone CA certificate is not uploaded and SSL is configured, SAA will connect to Keystone using an insecure mode. Certificate is needed only if Keystone is configured in SSL mode.</p>
      <div class="align-right">
        {{#if isConfigured}}
          {{#unless isChangingFiles}}
            <a class="btn btn-primary" {{action "changeFiles"}}>Change Files</a>
          {{else}}
            {{#unless isActionPending}}
              <a class="btn" {{action "cancel"}}>Cancel</a>
              <button type="submit" class="btn btn-primary" {{action "uploadFiles"}}>Upload Files and Restart {{App.application.title}}</button>
            {{else}}
              <button class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Uploading files...</button>
            {{/unless}}
          {{/unless}}
        {{else}}
          {{#unless isActionPending}}
            <a class="btn btn-primary" {{action "uploadFiles"}}>Upload Files and Start {{App.application.title}}</a>
          {{else}}
            <button class="btn btn-primary" disabled="disabled"><i class="icon-spinner icon-spin"></i> Uploading files...</button>
          {{/unless}}
        {{/if}}
      </div>
    </form>
  </div>
</section>
