<footer>
  <h4>Debug Toolbar</h4>
  {{!-- <a {{action "bypassLogin"}} class="btn"><i class="icon-signout"></i> Bypass Login</a> --}}
  <a {{action "refreshNodes"}} class="btn"><i class="icon-refresh"></i> Refresh Nodes</a>
  <a {{action "refreshVms"}} class="btn"><i class="icon-refresh"></i> Refresh VMs</a>
  <a {{action "clearConsole"}} class="btn"><i class="icon-ban-circle"></i> Clear Console</a>
  <div class="btn-group">
    <a {{action "disableAutoRefresh"}} {{bind-attr class=":btn isAutoRefreshEnabled::active"}}><i class="icon-pause"></i> Disable Refresh</a>
    <a {{action "enableAutoRefresh"}} {{bind-attr class=":btn isAutoRefreshEnabled:active"}}><i class="icon-play"></i> Enable Refresh</a>
  </div>
</footer>
