<div id="dashboard" class="container-fluid">
  <div class="row-fluid">
    {{render "dashboard-status"}}
    {{render "dashboard-status-components"}}
    {{render "dashboard-events"}}
  </div>
  <div class="row-fluid">
    {{render "dashboard-node-metrics"}}
    {{render "dashboard-vm-metrics"}}
    {{render "dashboard-todo"}}
  </div>
</div>


