<div class="portlet span4">
  <div class="header">Component Statuses</div>
  <div id="dashboardStatuses" class="portlet-content">
    {{#unless controllers.statuses.isConfigPresent}}
      <div class="alert alert-info">Statuses will appear here after uploading configuration files and starting {{application.title}}.</div>
    {{else}}
      <ul class="panel">
        {{#each controllers.statuses.systemStatus.offspring}}
          <li>
            {{#if this.offspring}}
              {{#link-to "status2" "system" this}}
                <i class="icon-chevron-right"></i>
                <span class="health-icon">{{health-icon this.health}}</span>
                <span class="title">{{this.name}}</span>
                <div class="description">{{this.message}}</div>
              {{/link-to}}
            {{else}}
              <span class="no-offspring">
                <span class="health-icon">{{health-icon this.health}}</span>
                <span class="title">{{this.name}}</span>
                <div class="description">{{this.message}}</div>
              </span>
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/unless}}
  </div>
</div>
