<div class="portlet span4 node-metrics">
  <div class="header">Node Metrics</div>
  <div class="portlet-content">
    <table class="table table-bordered">
       <tbody>
          <tr>
            <td class="column-medium"><strong>Nodes</strong> (total #)</td>
            <td>{{#link-to "nodes"}}{{controllers.nodes.length}} Nodes {{/link-to}}</td>
          </tr>
          {{#if isPercentOfTrustedAvailable}}
            <tr>
              <td class="column-medium"><strong>Trusted Nodes</strong></td>
              <td>
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfTrustedWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#view "tooltip" title=totalTrustedMessage}}
                        {{#link-to "nodes"}}
                          {{percentOfTrusted}}%
                        {{/link-to}}
                      {{/view}}
                    </small>
                  </div>
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfControlledAvailable}}
            <tr>
              <td class="column-medium"><strong>Controlled Nodes</strong></td>
              <td>
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="percentOfControlledWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#view "tooltip" title=totalControlledMessage}}
                        {{#link-to "nodes"}}
                          {{percentOfControlled}}%
                        {{/link-to}}
                      {{/view}}
                    </small>
                  </div>
              </td>
            </tr>
          {{/if}}
          {{#if isPercentOfRamAvailable}}
            <tr>
              <td class="column-medium"><strong>Total RAM Usage</strong></td>
              <td>
                  <div class="progress progress-success portlet-progress">
                    <div class="bar" {{bind-attr style="controllers.nodes.totalRamWidth"}} ></div>
                  </div>
                  <div class="portlet-progress-value">
                    <small>
                      {{#view "tooltip" title=controllers.nodes.totalRamMessage}}
                        {{#link-to "nodes"}}
                          {{controllers.nodes.percentOfRam}}%
                        {{/link-to}}
                      {{/view}}
                    </small>
                  </div>
              </td>
            </tr>
          {{/if}}
          {{#if isUsedOfAvailableSuPercentAvailable}}
            <tr>
              <td class="column-medium"><strong>Total SCU Usage</strong></td>
              <td>
                <div class="progress progress-success portlet-progress">
                  <div class="bar" {{bind-attr style="usedOfAvailableSuWidth"}} ></div>
                </div>
                <div class="portlet-progress-value">
                  <small>
                    {{#view "tooltip" title=usedOfAvailableSuMessage}}
                      {{#link-to "nodes"}}
                        {{usedOfAvailableSuPercent}}%
                      {{/link-to}}
                    {{/view}}
                  </small>
                </div>
              </td>
            </tr>
          {{/if}}
       </tbody>
    </table>
    {{#if contentionNodesExist}}
      <table class="table table-bordered contention-nodes">
        <tbody>
          <tr>
            <td><strong>Highest contention nodes</strong></td>
            <td><strong>Contention</strong></td>
          </tr>
          {{#each contentionNode in contentionNodes}}
            <tr>
              <td> {{#link-to "nodesNode" contentionNode}}{{contentionNode.name}}{{/link-to}}</td>
              <td>
                {{#if contentionNode.hasContention}}
                  <div class="contention nowrap">
                    {{#view "tooltip" title=contentionNode.contentionMessage}}
                      <div class="contention-bar">
                        <div class="contention-bar-width" {{bind-attr style="contentionNode.contentionWidth"}}>
                          <div class="contention-gradient"></div>
                        </div>
                      </div>
                      {{n-a contentionNode.contentionFormatted}}
                    {{/view}}
                  </div>
                {{else}}
                  <span class="not-applicable">n/a</span>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
