{{#if controllers.statuses.logsAreVisible}}
  <div class="log-bar">
    <div class="btn-group">
      <button {{action "graphicalMode" true}} {{bind-attr class="isGraphicalMode:btn-primary :btn :btn-small :log-buttons"}}>
        Graphical Layout
      </button>
      <button {{action "graphicalMode" false}} {{bind-attr class="isGraphicalMode::btn-primary :btn :btn-small :log-buttons"}}>Standard Layout</button>
    </div>
    <button {{action "reset"}} class="btn btn-small btn-info">Reset</button>
  </div>
  <iframe {{bind-attr src="logsUrl"}} id="allLogsFrame" name="allLogsFrame" class="logsFrame"></iframe>
{{else}}
  <div class="logs-container">
    <br />
    <div class="alert alert-error">
      {{controllers.statuses.loggingStatus.name}}: {{controllers.statuses.loggingStatus.message}}
    </div>
  </div>
{{/if}}
