<div class="details">
  <a class="close" {{action "closeDetails"}}>&times;</a>
  <ul class="nav nav-tabs">
    <li class="active"><a onclick="App.selectTab(event)">Details</a></li>
    <li><a onclick="App.selectTab(event)">Utilization</a></li>
    <li><a onclick="App.selectTab(event)">Capabilities</a></li>
    <li><a onclick="App.selectTab(event)">VMs</a></li>
    <li><a onclick="App.selectTab(event)">Graphs</a></li>
    <li><a onclick="App.selectTab(event)">Trust</a></li>
    <li><a onclick="App.selectTab(event)">MLEs</a></li>
    <li><a onclick="App.selectTab(event)">PCR Logs</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active details">
      <table class="table table-bordered">
        <tr>
          <th class="column-medium">Hostname</th>
          <td>{{n-ame}}</td>
        </tr>
        <tr>
          <th class="column-medium">Node ID</th>
          <td>{{id}}</td>
        </tr>
        <tr>
          <th class="column-medium">Health</th>
          <td>
            {{#view "tooltip" title=healthMessage}}
              {{health-icon status.health}} {{priority-to-type status.health}}
            {{/view}}
          </td>
        </tr>
        <tr>
          <th class="column-medium">Operational State</th>
          <td>
            {{code-to-operationalIcon status.operational}}
            {{code-to-operational status.operational}}
          </td>
        </tr>
        <tr>
          <th class="column-medium">Services</th>
          <td>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <td class="column-small"></td>
                  <td>Service</td>
                  <td>Updated</td>
                </tr>
              </thead>
              <tbody>
                {{#each cloudServices itemController="service"}}
                  <tr>
                    <td class="column-small">
                      {{#if parentController.isUnhealthy}}
                        {{#view "tooltip" title=healthMessage}}
                          {{health-icon health}}
                        {{/view}}
                      {{else}}
                        {{#view "tooltip" title=operationalMessage}}
                          {{code-to-operationalIcon operational}}
                        {{/view}}
                      {{/if}}
                    </td>
                    <td>
                      <i {{bind-attr class="nodeTypeClass"}}></i>
                      {{capitalize-text nodeType}} node
                    </td>
                    <td>
                      {{time-stamp last_update}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <th class="column-medium">Trust</th>
          <td>
            {{#view "tooltip" title=trustMessage}}
              {{trust-to-stringIcon status.trust_status.trust}}
              {{trust-to-string status.trust_status.trust}}
            {{/view}}
          </td>
        </tr>
        <tr>
          <th class="column-medium">Locked</th>
          <td>{{capitalize-text status.locked}}</td>
        </tr>
        <tr>
          <th class="column-medium">vCPUs</th>
          <td>{{n-a vcpus.used}} out of {{n-a vcpus.max}}</td>
        </tr>
        {{#if isScheduled}}
          <tr>
            <th class="column-medium">VM Placement</th>
            <td>Socket {{schedulerMark}}</td>
          </tr>
        {{/if}}
        <tr>
          <th class="column-medium">MAC Address</th>
          <td>{{uppercase-text ids.mac}}</td>
        </tr>
        <tr>
          <th class="column-medium">IP Address</th>
          <td>{{n-a ids.ip_address}}</td>
        </tr>
        <tr>
          <th class="column-medium">IPMI</th>
          <td>
            {{#if status.ipmi}}
              IPMI interface is available
            {{else}}
              IPMI interface is unavailable
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
    <div class="tab-pane utilization">
      <table class="table table-bordered">
        <tr>
          <th class="column-medium"> Cores </th>
          <td>
            {{#if hasCores}}
              {{progress-bar-adjacent
                numberOfBars="3"
                barMin1="0"
                barMax1=osCores
                barValue1=osCores
                barTitle1="OS Cores"
                barMin2="0"
                barMax2=vmCores
                barValue2=vmCores
                barTitle2="VM Cores"
                barMin3="0"
                barMax3=sixWindCores
                barValue3=sixWindCores
                barTitle3="6Wind Cores"
              }}
              <ul>
                <li>OS Cores: {{osCores}} </li>
                <li>VM Cores: {{vmCores}} </li>
                <li>6Wind Cores: {{sixWindCores}} </li>
              </ul>
            {{else}}
              <span class="not-applicable">n/a</span>
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="column-medium">Service Compute Units (SCU)</th>
          <td>
          {{#if computeExists}}
            <div style="margin-left:10px">
              {{progress-bar-adjacent
                tooltip=scuTooltip
                values=scuValues
              }}
              {{{scuTooltip}}}
            </div>
          {{else}}
            <span class="not-applicable">n/a</span>
          {{/if}}
          </td>
        </tr>
         <tr>
          <th class="column-medium">Contention</th>
          <td>
            {{#if hasContention}}
              <div style="margin-left:10px;">
                {{progress-bar-adjacent
                  tooltip=contentionTooltip
                  values=contentionValues
                }}
                {{{contentionTooltip}}}
              </div>
            {{else}}
              <span class="not-applicable">n/a</span>
            {{/if}}
          </td>
        </tr>
        <tr>
          <th class="column-medium">CPU Throughput</th>
          <td>{{n-a utilization.ipc}}</td>
        </tr>
        <tr>
          <th class="column-medium">Normalized Load</th>
          <td>{{n-a utilization.normalized_load}}</td>
        </tr>
        <tr>
          <th class="column-medium">Memory</th>
          <td>{{readable-size utilization.memory}} out of {{readable-size capabilities.memory_size}}</td>
        </tr>
        <tr>
          <th class="column-medium">CPU Idle</th>
          <td>{{n-a utilization.cpu.idle}}</td>
        </tr>
        <tr>
          <th class="column-medium">I/O Wait</th>
          <td>{{n-a utilization.cpu.iowait}}</td>
        </tr>
      </table>
    </div>
    <div class="tab-pane capabilities">
      <table class="table table-bordered">
        <tr>
          <th class="column-medium">Sockets</th>
          <td>{{n-a capabilities.sockets}}</td>
        </tr>
        <tr>
          <th class="column-medium">Cores per Socket</th>
          <td>{{n-a capabilities.cores_per_socket}}</td>
        </tr>
        <tr>
          <th class="column-medium">CPU Frequency</th>
          <td>{{n-a capabilities.cpu_frequency}}</td>
        </tr>
        <tr>
          <th class="column-medium">Hyperthreading</th>
          <td>{{capitalize-text capabilities.hyperthreading}}</td>
        </tr>
        <tr>
          <th class="column-medium">Turbo Mode</th>
          <td>{{capitalize-text capabilities.turbo_mode}}</td>
        </tr>
        <tr>
          <th class="column-medium">Cache Size</th>
          <td>{{readable-size capabilities.cache_size}}</td>
        </tr>
        <tr>
          <th class="column-medium">Memory Size</th>
          <td>{{readable-size capabilities.memory_size}}</td>
        </tr>
        <tr>
      </table>
    </div>
    <div class="tab-pane vms">
      <ul>
        {{#each vm in vms}}
          <li>{{#link-to "vmsVm" vm}}{{vm.name}}{{/link-to}}</li>
        {{else}}
          <li>No VMs</li>
        {{/each}}
      </ul>
    </div>
    <div class="tab-pane graphs">
      <div class="btn-group">
        <button {{action "graphTimeAgo" "-1h"}} {{bind-attr class="isGraphTimeAgoHour:btn-primary :btn :btn-small :log-buttons"}}>
          Hour
        </button>
        <button {{action "graphTimeAgo" "-24h"}} {{bind-attr class="isGraphTimeAgoDay:btn-primary :btn :btn-small :log-buttons"}}>
          Day
        </button>
        <button {{action "graphTimeAgo" "-168h"}} {{bind-attr class="isGraphTimeAgoWeek:btn-primary :btn :btn-small :log-buttons"}}>
          Week
        </button>
        <button {{action "graphTimeAgo" "-672h"}} {{bind-attr class="isGraphTimeAgoMonth:btn-primary :btn :btn-small :log-buttons"}}>
          Month
        </button>
      </div>

      {{#each graph in graphs}}
        <figure class="thumbnail">
          <img {{bind-attr src="graph.url"}}>
          <figcaption class="caption">{{graph.desc}}</figcaption>
        </figure>
      {{else}}
        <div class="alert alert-info">No graphs found.</div>
      {{/each}}
    </div>
    <div class="tab-pane trust">
      {{#if nodeTrustReport.attestations}}
        <p class="pull-right">
          {{#if isActionPending}}
            <button class="btn btn-primary disabled"><i class="icon-download-alt"></i> Download Trust Report</button>
            <i class="loading"></i>
          {{else}}
            <button class="btn btn-primary" {{action "exportTrustReport" this}}><i class="icon-download-alt"></i> Download Trust Report</button>
          {{/if}}
        </p>
        <table class="table table-bordered">
          <tr>
            <th class="column-small">Trust Status</th>
            <th>Trust Details</th>
            <th>Timestamp</th>
          </tr>
          {{#each attestation in nodeTrustReport.attestations}}
            <tr>
              <td class="column-small">{{trust-to-stringIcon attestation.trust_status}} {{trust-to-string attestation.trust_status}}</td>
              <td>{{attestation.report_message}}</td>
              <td>{{time-stamp attestation.attestation_time}}</td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        {{#unless model.isUpdating}}
          <div class="alert alert-info">No attestations found.</div>
        {{/unless}}
      {{/if}}
    </div>
    <div class="tab-pane mles">
      {{#if isTrustRegistered}}
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th>MLE Type</th>
            <th>OEM Name</th>
            <th>Attestation Type</th>
            <th>OS Name</th>
            <th>Version</th>
            <th>OS Version</th>
          </tr>
          {{#each mle in trustNode.trustMles}}
            <tr>
              <td>{{#link-to "trust.mle" mle}}{{n-a mle.name}}{{/link-to}}</td>
              <td>{{n-a mle.mleType}}</td>
              <td>{{n-a mle.oemname}}</td>
              <td>{{n-a mle.attestationType}}</td>
              <td>{{n-a mle.osname}}</td>
              <td>{{n-a mle.version}}</td>
              <td>{{n-a mle.osversion}}</td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        {{#unless model.isUpdating}}
          <div class="alert alert-info">No MLEs found.</div>
        {{/unless}}
      {{/if}}
    </div>
    <div class="tab-pane pcr-logs">
      {{#if trustNode.pcrLogs}}
        <table class="table table-bordered">
          <tr>
            <th class="column-small">
              {{#view "tooltip" title="Trust Status"}}
                <i class="icon-lock icon-large"></i>
              {{/view}}
            </th>
            <th>PCR</th>
            <th>Actual Value</th>
            <th>
              {{#view "tooltip" title="The PCR-19 value is made up of several modules (initrd and vmlinuz) that are node specific. This is why PCR-19 does not have a value listed in the Expected Value column. The modules that make up PCR-19 do have actual/expected values, which are described in the Module Logs column. PCR-19 is the only module based PCR, and is the only PCR that has data in the Module Logs column." dataPlacement="bottom"}}
                Expected Value
              {{/view}}
            </th>
            <th>Module Logs</th>
          </tr>
          {{#each log in trustNode.pcrLogs}}
            <tr>
              <td class="column-small">
                <i {{bind-attr class=":icon-large log.truststatus:icon-lock:icon-unlock log.truststatus:trusted:untrusted"}}></i>
              </td>
              <td>{{n-a log.name}}</td>
              <td class="monospace break-word">{{n-a log.value}}</td>
              <td class="monospace break-word">{{n-a log.whitelistvalue}}</td>
              <td>
                {{#if log.modulelogs}}
                  {{#each modulelog in log.modulelogs}}
                    <ul>
                      <li>Component Name: {{modulelog.componentname}}</li>
                      <li>Actual Value: {{modulelog.value}}</li>
                      <li>Expected Value: {{modulelog.whitelistvalue}}</li>
                      <li>Trust Status: {{modulelog.truststatus}}</li>
                    </ul>
                  {{/each}}
                {{else}}
                  False
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </table>
      {{else}}
        {{#unless model.isUpdating}}
          <div class="alert alert-info">No PCR Logs found.</div>
        {{/unless}}
      {{/if}}
    </div>
  </div>
</div>
