<div id="login" class="container">
  {{#if message}}
    <div id="profile-notification" class="notification">
      <div class="alert">
        <button type="button" class="close" {{action "removeNotification"}}>&times;</button>
        {{message}}
      </div>
    </div>
  {{/if}}
  <div class="portlet" style="float:none; margin:20px auto;">
    <div class="header" style="text-align:left;">Edit User Profile</div>
    <form {{action "save" on="submit"}} autocomplete="off">
      {{!--
      <label for="inputUsername"><small>Username</small></label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        {{input valueBinding="username" id="profile-username" placeholder="Username" disabled="true"}}
      </div>
      <label for="inputUsername"><small>Current Password</small></label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        {{input valueBinding="oldPassword" id="profile-oldPassword" placeholder="Current Password" type="password" autofocus="autofocus"}}
      </div>
      --}}
      <label for="inputUsername"><small>New Password</small></label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        {{input valueBinding="newPassword1" id="profile-newPassword1" placeholder="New password" type="password" autofocus="autofocus"}}
      </div>
      <label for="inputUsername"><small>Confirm Password</small></label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-lock"></i></span>
        {{input valueBinding="newPassword2" id="profile-newPassword2" placeholder="Repeat new password" type="password"}}
      </div>
      {{#if getEmail}}
        <label for="inputUsername"><small>Email Address</small></label>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-envelope"></i></span>
          {{input valueBinding="email" id="profile-email" placeholder="Email address"}}
        </div>
      {{/if}}

      {{!--
      {{#if getMailServer}}
        {{render 'settings.mailserver'}}
      {{/if}}
      --}}

      <div class="form-actions">
        {{#unless isPending}}
          <a class="btn btn-danger" type="button" {{action "cancel"}}>Cancel</a>
          <input class="btn btn-primary" type="submit" value="Save"></input>
        {{else}}
          <a class="btn btn-primary disabled"><i class="icon-spinner icon-spin"></i> Saving...</a>
        {{/unless}}
      </div>
    </form>
  </div>
</div>
