<section id="profile" class="container" autocomplete="off">
    {{#if message}}
     <div id="profile-notification" class="notification">
       <div class="alert">
         <button type="button" class="close" {{action removeNotification}}>&times;</button>
         {{message}}
       </div>
     </div>
    {{/if}}
    <h3>Edit User Profile</h3>
    <form class="form-horizontal well-clean shadow-lifted">
    <div class="control-group">
      <label class="control-label">Username</label>
      <div class="controls">
        {{input value=username id="profile-username" placeholder="Username" disabled="true"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Current Password</label>
      <div class="controls">
        {{input value=oldPassword id="profile-oldPassword" placeholder="Current Password" type="password"  autofocus="autofocus"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">New Password</label>
      <div class="controls">
        {{input value=newPassword1 id="profile-newPassword1" placeholder="New Password" type="password"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">New Password</label>
      <div class="controls">
        {{input value=newPassword2 id="profile-newPassword2" placeholder="New Password again" type="password"}}
      </div>
    </div>

    {{#if getEmail}}
        <div class="control-group">
          <label class="control-label">Email address</label>
          <div class="controls">
            {{input value=email id="profile-email" placeholder="Email address"}}
          </div>
        </div>
    {{/if}}

    </form>

    {{#if getMailServer}}
        {{render 'settings.mailserver'}}
    {{/if}}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Save" {{action save}}>
        <button class="btn btn-danger" type="button" {{action reset}}>Cancel</button>
    </div>

</section>
