<ul class="panel">
  {{#each offspring}}
    <li>
      {{#if this.offspring}}
        {{#link-to controller.childRoute this}}
          <i class="icon-chevron-right"></i>
          <span class="health-icon">{{health-icon this.health}}</span>
          <span class="title">{{this.name}}</span>
          <div class="description">{{this.message}}</div>
        {{/link-to}}
      {{else}}
        <span class="no-offspring">
          <span class="health-icon">{{health-icon this.health}}</span>
          <span class="title">{{this.name}}</span>
          <div class="description">{{this.message}}</div>
        </span>
      {{/if}}
    </li>
  {{/each}}
</ul>
{{outlet}}
