<div id="vms" class="container-fluid">
  <div class="row-fluid">
    <div class="content">
      <div class="treemap"></div>
      <div class="header">
        <div class="global-actions">
          {{!--
          <a {{action "renderTreemap"}} {{bind-attr class=":btn isTreemapVisible:active"}}><i class="icon-bar-chart"></i> Visualize</a>
          --}}
        </div>
        <div id="filter-form" class="input-prepend pull-right clear-input">
          <span class="add-on"><i class="icon-search"></i></span>
          {{input id="filter" type="search" value=filterQuery placeholder="Filter VMs"}}
          <a class="close clear-button" type="reset" {{action "clearFilter"}}>&times;</a>
        </div>
      </div>
      <div class="table table-bordered expandable">
        <div class="thead">
          <table>
            <thead>
              <tr>
                <th class="column-small">
                  {{#view "tooltip" title="Checkboxes update contextual Graphs and Logs in the slide-out drawer on the right. &#10152;"}}
                    <a {{action "selectAll"}} title="Select all"><i class="icon-check icon-large"></i></a>
                  {{/view}}
                </th>
                {{#each columns}}
                  {{partial "columnHeader"}}
                {{/each}}
                <th class="column-small">
                  <a {{action "refresh"}} class="btn btn-mini"><i {{bind-attr class=":icon-refresh model.isUpdating:icon-spin model.isUpdating:disabled"}}></i></a>
                </th>
              </tr>
            </thead>
          </table>
        </div>
        {{view "list-view" content=filteredModel}}
      </div>
      <div class="table-footer row-fluid">
        <div class="span6">
          <div>Displaying {{visibleRows}} of {{length}} VMs</div>
        </div>
        <div class="span6 align-right">
          On page {{listView.currentPage}} of {{numberOfPages}}
          <div class="btn-group">
            <a {{bind-attr class=":btn isFirstPage:disabled"}} {{action "previousPage"}}><i class="icon-arrow-left"></i> Previous</a>
            <a {{bind-attr class=":btn isLastPage:disabled"}} {{action "nextPage"}}>Next <i class="icon-arrow-right"></i></a>
          </div>
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>
